.main-about
  .container
    .main-about__wrapper
      .main-about__img
        img(src='./images/main/victoria-2.png', alt='')
      section.main-about__content
        h2.main-about__title Бурумбаева
        h2.main-about__title.main-about__title--right Виктория
        .main-about__text
          p
            | Основатель и главный врач VIP CLINIC
            br
            | Специалист со стажем
            | более 5 лет
            br
            | Более 1000 довольных пациентов
        .main-about__phase
          p
            | “У моих пациентов
            br
            | замечают не филлеры,
            br
            | а красоту”
        a.main-about__btn.btn.btn--upper(href=links.yclients target="_blank")
          | Записаться онлайн