.before-after
  .container
    section.before-after__wrapper
      h2.section-title До/после
      ul.before-after__list.slider-list
        each item in beforeAfterList
          li.before-after__item
            .item__img
              img(src=item.url)
            .item__text
              p #{item.text}
      .slider-container
      button.before-after__btn.btn.btn--upper Записаться онлайн