section.before-after
  .container
    .before-after__wrapper
      h2.section-title До/после
      section.before-after__list
        .before-after__item
          .item__img
            img(src='./images/main/before-after/1.png', alt)
          .item__text
            p контурная пластика носослезной борозды
        .before-after__item
          .item__img
            img(src='./images/main/before-after/2.png', alt)
          .item__text
            p контурная пластика губ
        .before-after__item
          .item__img
            img(src='./images/main/before-after/3.png', alt)
          .item__text
            p лечение акне
      section.slider-container
      .slider-icon
        img(src='./images/main/arr.svg', alt)
      button.before-after__btn.btn.btn--upper.

        Записаться онлайн