section#contacts.contacts
  .container
    .contacts__wrapper
      h2.section-title(style='margin-bottom: 70px') контакты
      section.contacts__content
        .contacts__btns.contacts__btns--adaptive
          button.btn.btn--upper.contacts__btn
            | открыть Яндекс Карты
          button.btn.btn--upper.contacts__btn
            | записаться онлайн
        .contacts__map
          script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A034c5df4af47a1af938729ea89a14bddf4d603fff23740095c12b0d951500e91&width=615&height=430&lang=ru_RU&scroll=false')
        .contacts__map.contacts__map--adaptive
          script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A034c5df4af47a1af938729ea89a14bddf4d603fff23740095c12b0d951500e91&width=400&height=300&lang=ru_RU&scroll=false')
        .contacts__map.contacts__map--adaptive--2
          script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A034c5df4af47a1af938729ea89a14bddf4d603fff23740095c12b0d951500e91&width=340&height=250&lang=ru_RU&scroll=false')
        .contacts__text
          .contacts__logo
            img(src='./images/logo-276.png' alt='')
          .contacts__schedule
            p ПН-ВС
            p 10:00-22:00
          .contacts__address
            | г. Санкт-Петербург, ул. Уральская, 21
          .contacts__icons
            a.icon(href='')
              img(src='./images/icons/icon-phone.svg' alt='')
            a.icon(href='')
              img(src='./images/icons/icon-wa.svg' alt='')
            a.icon(href='')
              img(src='./images/icons/icon-tg.svg' alt='')
          .contacts__btns
            button.btn.btn--upper.contacts__btn
              | открыть Яндекс Карты
            button.btn.btn--upper.contacts__btn
              | записаться онлайн
