footer.footer
  .container
    .footer__wrapper
      p ИНН/КПП
      p 7801730185/780101001
      p
        | Юридический адрес:
        br
        | 190068, Санкт-Петербург
        br
        | ул. Уральская,
        |             21
