header.main-header
  .panel
    .left
      .logo
        a.logo__link(href="/") 
          img(src='./images/logo-151.png' alt='')
      button.btn.btn--low онлайн-запись
      button.btn.btn--low.btn--header прайс
    button.btn.btn--burger
      img(src='./images/icons/burger.png' alt='')
    button.btn.btn--close
      img(src='./images/icons/close.svg' alt='')
    .right
      nav.main-nav
        a.nav__item(href='/#services') услуги
        a.nav__item(href='/price') прайс
        a.nav__item(href='/#promotions') акции
        a.nav__item(href='/#contacts') контакты
      .icons
        a.icon(href='')
          img(src='./images/icons/icon-phone.svg' alt='')
        a.icon(href='')
          img(src='./images/icons/icon-wa.svg' alt='')
        a.icon(href='')
          img(src='./images/icons/icon-tg.svg' alt='')
  .burger-panel
    nav.burger-nav
      a.nav__item(href='/#services') услуги
      a.nav__item.nav__item--adaptive(href='/price') прайс
      a.nav__item(href='/#promotions') акции
      a.nav__item(href='/#contacts') контакты
    .icons
      a.icon(href='')
        img(src='./images/icons/icon-phone.svg' alt='')
      a.icon(href='')
        img(src='./images/icons/icon-wa.svg' alt='')
      a.icon(href='')
        img(src='./images/icons/icon-tg.svg' alt='')
