section.intro
  .container
    .intro__wrapper
      section.intro__content
        h1.intro__title Роскошь
        h1.intro__title.intro__title--right быть собой
        .intro___text
          p
            | Медицинская косметология
            br
            | экспертного уровня
            br
            | в Санкт-Петербурге
        button.intro__btn.btn.btn--upper записаться онлайн
      section.intro__img
        img(src='./images/main/victoria.png' alt='')