.memberships
  section.container
    h2.section-title(style='margin-bottom: 65px') абонементы
    .memberships__wrapper
      .memberships__content
        p
          | В нашей клинике вы можете приобрести именной сертификат на любую
          | сумму. Это отличный подарок для ваших близких!
      .memberships__img
        img(src='./images/main/membership.png' alt='')