#promotions.promotions
  .container
    section.promotions__wrapper
      h2.section-title акции
      ul.promotions__list.slider-list
        each item in promotionsList
          li.promotions__item
            img(src=item.url alt='')
      .promotions__text
        p *акции действуют при предъявлении скриншота
      .slider-container
