section#promotions.promotions
  .container
    .promotions__wrapper
      h2.section-title акции
      section.promotions__list
        .promotions__item
          img(src='./images/main/promo/1.png' alt='')
        .promotions__item
          img(src='./images/main/promo/2.png' alt='')
      .slider-icon
        img(src='./images/main/arr.svg' alt='')
      .promotions__text
        p *акции действуют при предъявлении скриншота
