section.services#services
  .container
    .services__wrapper
      h2.section-title Наши услуги
      .servises__btns
        button.services__btn.selected(data-index='0').

          инъекционная косметология

        button.services__btn(data-index='1').

          эстетическая косметология

        button.services__btn(data-index='2').

          аппаратная косметология

        button.services__btn(data-index='3') все услуги
      section.services__list
        .services__list-inner.show(data-index='0')
          .line
            .line__part
              .item.item--big.first
                h3.item__title Ботулинотерапия
                p.item__text.

                  процедура инъекционного введения ботулотоксина типа А; уколы токсина расслабляют мышцы, разглаживая мимические и  статические морщины

                button.btn.item__btn узнать больше
            .line__part
              .item
                h3.item__title.

                  Контурная пластика препаратами на основе ГК

                p.item__text.

                  метод коррекции контуров лица, устранения дряблости и старения кожи путем введения филлеров

                button.btn.item__btn узнать больше
              .item.item--empty
              .item
                h3.item__title Биоревитализация/биорепарация
                p.item__text.

                  процедура инъекционного введения гиалуроновой кислоты под кожу направлена на активное увлажнение

                button.btn.item__btn узнать больше
              .item
                h3.item__title Введение гиалуронидазы
                p.item__text.

                  гиалуронидаза применяется как антидот против препаратов, основанных на гиалуроновой кислоте

                button.btn.item__btn узнать больше
          .line
            .line__part
              .item
                h3.item__title.

                  Коллагеновое омоложение лица/тела «СФЕРО гель»

                p.item__text.

                  биорегенерант, который осуществляет матриксную терапию кожи для омоложения

                button.btn.item__btn узнать больше
              .item
                h3.item__title.

                  Коллагеностиму -ляция “AestheFill”

                p.item__text.

                  методика омоложения кожи, которая способствует выработке организмом собственного коллагена

                button.btn.item__btn узнать больше
              .item
                h3.item__title.

                  Коллагенотерапия «Коллост», Collost Micro

                p.item__text.

                  инъекционное введение коллагена с целью замедления старения кожи

                button.btn.item__btn узнать больше
              .item
                h3.item__title Коллагенотерапия “Nithya”
                p.item__text.

                  методика основана на стимуляции фибробластов для выработки естественного коллагена

                button.btn.item__btn узнать больше
            .line__part
              .item.item--big.second
                h3.item__title Мезотерапия
                p.item__text.

                  методика, при которой лекарственный препарат в микродозах вводится под кожу на небольшую глубину с помощью тонких игл

                button.btn.item__btn узнать больше
          .line
            .line__part
              .item.item--empty
              .item
                h3.item__title.

                  Векторный лифтинг препаратом “Radiesse”

                p.item__text.

                  процедура с использованием уникального дермального филлера, который возвращает лицу молодую V-форму

                button.btn.item__btn узнать больше
            .line__part
              .item
                h3.item__title Плазмотерапия/плазмолифтинг
                p.item__text.

                  подкожное введение обогащенной тромбоцитами плазмы собственной крови пациента для омоложения

                button.btn.item__btn узнать больше
              .item
                h3.item__title Консультация со специалистом
                p.item__text.

                  консультация дерматолога/косметолога/трихолога

                button.btn.item__btn узнать больше
        .services__list-inner(data-index='1')
          .line
            .line__part
              .item.item--big.third
                h3.item__title.

                  Уходы профессиональной косметикой

                p.item__text.

                  комплексный уход индивидуально подобранной уходовой профессиональной косметикой

                a(class="btn item__btn", href="/service?id=s01") узнать больше
            .line__part
              .item
                h3.item__title Чистка лица/спины
                p.item__text.

                  косметологическая процедура, для очищения пор от избытка кожного сала, загрязнений и отмерших клеток

                button.btn.item__btn узнать больше
              .item.item--empty
              .item
                h3.item__title Пилинг лица
                p.item__text.

                  контролируемое повреждение кожи с помощью химических составов для коррекции эстетических недостатков

                button.btn.item__btn узнать больше
              .item
                h3.item__title Консультация со специалистом
                p.item__text.

                  консультация дерматолога/косметолога/трихолога

                button.btn.item__btn узнать больше
        .services__list-inner(data-index='2')
          .line
            .line__part
              .item
                h3.item__title.

                  Фотолечение на аппарате “Lumenis  M22”

                p.item__text.

                  фотомоложение, фотоэпиляция, удаление сосудистых звездочек и пигментации

                button.btn.item__btn узнать больше
              .item
                h3.item__title Удаление новообразований
                p.item__text.

                  ряд процедур по избавлению тела пациента от кожных новообразований

                button.btn.item__btn узнать больше
              .item
                h3.item__title Аппаратный массаж RLS
                p.item__text.

                  процедура запускает метаболические процессы, снижается проявление целлюлита и уходят объемы

                button.btn.item__btn узнать больше
              .item
                h3.item__title Лазерная эпиляция
                p.item__text.

                  удаление волоса вместе с фолликулом

                button.btn.item__btn узнать больше
            .line__part
              .item.item--big.fourth
                h3.item__title.

                  Микроигольчатый RF-лифтинг “Vivace”

                p.item__text.

                  инновационная омолаживающая процедура, использующая фракционную микроигольчатую RF-технологию

                button.btn.item__btn узнать больше
        .services__list-inner(data-index='3')
          .line
            .line__part
              .item.item--big.first
                h3.item__title Ботулинотерапия
                p.item__text.

                  процедура инъекционного введения ботулотоксина типа А; уколы токсина расслабляют мышцы, разглаживая мимические и  статические морщины

                button.btn.item__btn узнать больше
            .line__part
              .item
                h3.item__title.

                  Контурная пластика препаратами на основе ГК

                p.item__text.

                  метод коррекции контуров лица, устранения дряблости и старения кожи путем введения филлеров

                button.btn.item__btn узнать больше
              .item
                h3.item__title Биоревитализация/биорепарация
                p.item__text.

                  процедура инъекционного введения гиалуроновой кислоты под кожу направлена на активное увлажнение

                button.btn.item__btn узнать больше
              .item
                h3.item__title Пилинг лица
                p.item__text.

                  контролируемое повреждение кожи с помощью химических составов для коррекции эстетических недостатков

                button.btn.item__btn узнать больше
              .item
                h3.item__title Чистка лица/спины
                p.item__text.

                  косметологическая процедура, для очищения пор от избытка кожного сала, загрязнений и отмерших клеток

                button.btn.item__btn узнать больше
          .line
            .line__part
              .item
                h3.item__title.

                  Фотолечение на аппарате “Lumenis  M22”

                p.item__text.

                  фотомоложение, фотоэпиляция, удаление сосудистых звездочек и пигментации

                button.btn.item__btn узнать больше
              .item
                h3.item__title.

                  Уходы профессиональной косметикой

                p.item__text.

                  комплексный уход индивидуально подобранной уходовой профессиональной косметикой

                a(class="btn item__btn", href="/service?id=s01") узнать больше
              .item
                h3.item__title Плазмотерапия/плазмолифтинг
                p.item__text.

                  подкожное введение обогащенной тромбоцитами плазмы собственной крови пациента для омоложения

                button.btn.item__btn узнать больше
              .item
                h3.item__title Лазерная эпиляция
                p.item__text.

                  удаление волоса вместе с фолликулом

                button.btn.item__btn узнать больше
            .line__part
              .item.item--big.fifth
                h3.item__title.

                  Векторный лифтинг препаратом “Radiesse”

                p.item__text.

                  процедура с использованием уникального дермального филлера, который возвращает лицу молодую V-форму

                button.btn.item__btn узнать больше
          .line
            .line__part
              .item.item--big.fourth
                h3.item__title.

                  Микроигольчатый  RF-лифтинг “Vivace”

                p.item__text.

                  инновационная омолаживающая процедура, использующая фракционную микроигольчатую RF-технологию

                button.btn.item__btn узнать больше
            .line__part
              .item
                h3.item__title Введение гиалуронидазы
                p.item__text.

                  гиалуронидаза применяется как антидот против препаратов, основанных на гиалуроновой кислоте

                button.btn.item__btn узнать больше
              .item
                h3.item__title.

                  Коллагеностиму -ляция “AestheFill”

                p.item__text.

                  методика омоложения кожи, которая способствует выработке организмом собственного коллагена

                button.btn.item__btn узнать больше
              .item
                h3.item__title.

                  Коллагенотерапия «Коллост», Collost Micro

                p.item__text.

                  инъекционное введение коллагена с целью замедления старения кожи

                button.btn.item__btn узнать больше
              .item
                h3.item__title Коллагенотерапия “Nithya”
                p.item__text.

                  методика основана на стимуляции фибробластов для выработки естественного коллагена

                button.btn.item__btn узнать больше
          .line
            .line__part
              .item
                h3.item__title.

                  Коллагеновое омоложение лица/тела «СФЕРО гель»

                p.item__text.

                  биорегенерант, который осуществляет матриксную терапию кожи для омоложения

                button.btn.item__btn узнать больше
              .item
                h3.item__title Удаление новообразований
                p.item__text.

                  ряд процедур по избавлению тела пациента от кожных новообразований

                button.btn.item__btn узнать больше
              .item
                h3.item__title Аппаратный массаж RLS
                p.item__text.

                  процедура запускает метаболические процессы, снижается проявление целлюлита и уходят объемы

                button.btn.item__btn узнать больше
              .item
                h3.item__title Консультация
                p.item__text.

                  консультация дерматолога/косметолога/трихолога

                button.btn.item__btn узнать больше
            .line__part
              .item.item--big.second
                h3.item__title Мезотерапия
                p.item__text.

                  методика, при которой лекарственный препарат в микродозах вводится под кожу на небольшую глубину с помощью тонких игл

                button.btn.item__btn узнать больше
      section.services__list.services__list--adaptive
        .services__list-inner.show(data-index='a0')
          .item
            h3.item__title.

              Контурная пластика препаратами на основе ГК

            p.item__text.

              метод коррекции контуров лица, устранения дряблости и старения кожи путем введения филлеров

            button.btn.item__btn узнать больше
          .item
            h3.item__title.

              Векторный лифтинг препаратом “Radiesse”

            p.item__text.

              процедура с использованием уникального дермального филлера, возвращает лицу молодую V-форму

            button.btn.item__btn узнать больше
          .item.item--photo
            img(src='./images/main/services/1.png', alt)
          .item
            h3.item__title Ботулинотерапия
            p.item__text.

              инъекция ботулотоксина типа А; уколы токсина расслабляют мышцы, убирая мимические и статические морщины

            button.btn.item__btn узнать больше
          .item
            h3.item__title Биоревитализация/биорепарация
            p.item__text.

              процедура инъекционного введения гиалуроновой кислоты под кожу направлена на активное увлажнение

            button.btn.item__btn узнать больше
          .item
            h3.item__title Коллагеностиму -ляция “AestheFill”
            p.item__text.

              методика омоложения кожи, которая способствует выработке организмом собственного коллагена

            button.btn.item__btn узнать больше
          .item
            h3.item__title Плазмотерапия/плазмолифтинг
            p.item__text.

              подкожное введение обогащенной тромбоцитами плазмы собственной крови для омоложения

            button.btn.item__btn узнать больше
          .item
            h3.item__title Введение гиалуронидазы
            p.item__text.

              гиалуронидаза применяется как антидот против препаратов, основанных на гиалуроновой кислоте

            button.btn.item__btn узнать больше
          .item
            h3.item__title Коллагенотерапия “Nithya”
            p.item__text.

              методика основана на стимуляции фибробластов для выработки естественного коллагена

            button.btn.item__btn узнать больше
          .item.item--photo
            img(src='./images/main/services/2.png', alt)
          .item
            h3.item__title.

              Коллагенотерапия «Коллост», Collost Micro

            p.item__text.

              методика основана на стимуляции фибробластов для выработки естественного коллагена

            button.btn.item__btn узнать больше
          .item
            h3.item__title.

              Коллагеновое омоложение лица/тела «СФЕРО гель»

            p.item__text.

              биорегенерант, который осуществляет матриксную терапию кожи для омоложения

            button.btn.item__btn узнать больше
        .services__list-inner(data-index='a1')
          .item
            h3.item__title Пилинг лица
            p.item__text.

              контролируемое повреждение кожи с помощью химических составов с целью  коррекции эстетических недостатков

            button.btn.item__btn узнать больше
          .item
            h3.item__title Чистка лица/спины
            p.item__text.

              косметологическая процедура, для очищения пор от избытка кожного сала и отмерших клеток

            button.btn.item__btn узнать больше
          .item
            h3.item__title Уходы профессиональной косметикой
            p.item__text.

              комплексный уход индивидуально подобранной профессиональной косметикой

            a(class="btn item__btn", href="/service?id=s01") узнать больше
          .item.item--photo
            img(src='./images/main/services/3.png', alt)
          .item
            h3.item__title Консультация
            p.item__text.

              консультация дерматолога/косметолога/трихолога

            button.btn.item__btn узнать больше
        .services__list-inner(data-index='a2')
          .item
            h3.item__title.

              Фотолечение на аппарате “Lumenis  M22”

            p.item__text.

              фотомоложение, фотоэпиляция, удаление сосудистых звездочек и пигментации

            button.btn.item__btn узнать больше
          .item
            h3.item__title Удаление новообразований
            p.item__text.

              ряд процедур по избавлению тела пациента от кожных новообразований

            button.btn.item__btn узнать больше
          .item.item--photo
            img(src='./images/main/services/4.png', alt)
          .item
            h3.item__title Микроигольчатый RF-лифтинг “Vivace”
            p.item__text.

              инновационная омолаживающая процедура, использующая фракционную микроигольчатую RF-технологию

            button.btn.item__btn узнать больше
          .item
            h3.item__title Аппаратный массаж RLS
            p.item__text.

              процедура запускает метаболические процессы, снижается проявление целлюлита и уходят объемы

            button.btn.item__btn узнать больше
          .item
            h3.item__title Лазерная эпиляция
            p.item__text удаление волоса вместе с фолликулом
            button.btn.item__btn узнать больше
        .services__list-inner(data-index='a3')
          .item
            h3.item__title.

              Контурная пластика препаратами на основе ГК

            p.item__text.

              метод коррекции контуров лица, устранения дряблости и старения кожи путем введения филлеров

            button.btn.item__btn узнать больше
          .item.item--photo
            img(src='./images/main/services/2.png', alt)
          .item
            h3.item__title Ботулинотерапия
            p.item__text.

              инъекция ботулотоксина типа А; уколы токсина расслабляют мышцы, убирая мимические и статические морщины

            button.btn.item__btn узнать больше
          .item
            h3.item__title Биоревитализация/биорепарация
            p.item__text.

              инъекционное введение гиалуроновой кислоты под кожу, направленая на активное увлажнение

            button.btn.item__btn узнать больше
          .item
            h3.item__title Чистка лица/спины
            p.item__text.

              косметологическая процедура, с целью очищения пор от избытка кожного сала и отмерших клеток

            button.btn.item__btn узнать больше
          .item
            h3.item__title Пилинг лица
            p.item__text.

              контролируемое повреждение кожи с помощью химических составов с целью  коррекции эстетических недостатков

            button.btn.item__btn узнать больше
          .item.item--photo
            img(src='./images/main/services/5.png', alt)
          .item
            h3.item__title.

              Векторный лифтинг препаратом “Radiesse”

            p.item__text.

              использование уникального дермального филлера, возвращаюего лицу молодую V-форму

            button.btn.item__btn узнать больше
          .item
            h3.item__title.

              Фотолечение на аппарате “Lumenis  M22”

            p.item__text.

              фотомоложение, фотоэпиляция, удаление сосудистых звездочек и пигментации

            button.btn.item__btn узнать больше
          .item
            h3.item__title Уходы профессиональной косметикой
            p.item__text.

              комплексный уход индивидуально подобранной профессиональной косметикой

            a(class="btn item__btn", href="/service?id=s01") узнать больше
          .item
            h3.item__title Плазмотерапия/плазмолифтинг
            p.item__text.

              подкожное введение обогащенной тромбоцитами плазмы собственной крови для омоложения

            button.btn.item__btn узнать больше
          .item
            h3.item__title Введение гиалуронидазы
            p.item__text.

              гиалуронидаза применяется как антидот против препаратов, основанных на гиалуроновой кислоте

            button.btn.item__btn узнать больше
          .item
            h3.item__title Коллагеностиму -ляция “AestheFill”
            p.item__text.

              методика омоложения кожи, которая способствует выработке организмом собственного коллагена

            button.btn.item__btn узнать больше
          .item.item--photo
            img(src='./images/main/services/4.png', alt)
          .item
            h3.item__title Микроигольчатый RF-лифтинг “Vivace”
            p.item__text.

              инновационная омолаживающая процедура, использующая фракционную микроигольчатую RF-технологию

            button.btn.item__btn узнать больше
          .item
            h3.item__title Удаление новообразований
            p.item__text.

              ряд процедур по избавлению тела пациента от кожных новообразований

            button.btn.item__btn узнать больше
          .item
            h3.item__title.

              Коллагенотерапия «Коллост», Collost Micro

            p.item__text.

              инъекционное введение коллагена с целью замедления старения кожи

            button.btn.item__btn узнать больше
          .item
            h3.item__title.

              Коллагеновое омоложение лица/тела «СФЕРО гель»

            p.item__text.

              биорегенерант, который осуществляет матриксную терапию кожи для омоложения

            button.btn.item__btn узнать больше
          .item.item--photo
            img(src='./images/main/services/3.png', alt)
          .item
            h3.item__title Мезотерапия
            p.item__text.

              методика, при которой лекарственный препарат в микродозах вводится под кожу на небольшую глубину с помощью тонких игл

            button.btn.item__btn узнать больше
          .item
            h3.item__title Коллагенотерапия “Nithya”
            p.item__text.

              методика основана на стимуляции фибробластов для выработки естественного коллагена

            button.btn.item__btn узнать больше
          .item
            h3.item__title Аппаратный массаж RLS
            p.item__text.

              процедура запускает метаболические процессы, снижается проявление целлюлита и уходят объемы

            button.btn.item__btn узнать больше
          .item
            h3.item__title Лазерная эпиляция
            p.item__text удаление волоса вместе с фолликулом
            button.btn.item__btn узнать больше
          .item
            h3.item__title Консультация
            p.item__text.

              консультация дерматолога/косметолога/трихолога

            button.btn.item__btn узнать больше
      button.btn.btn--upper.services__main-btn.

        Записаться онлайн
