section.team
  .container
    .team__wrapper
      h2.section-title Наша команда
      section.team__list.slider-list
        section.team__item
          .item__img
            img(src='./images/main/team/1.png' alt='')
          .item__name
            p Виктория
            p Бурумбаева
          .item__prof
            p
              | основатель VIP CLINIK,
              br
              | врач-косметолог,
              br
              | дерматовенеролог,
              br
              | трихолог
          .item__btn.btn узнать больше
        section.team__item
          .item__img
            img(src='./images/main/team/2.png' alt='')
          .item__name
            p Мария
            p Долгова
          .item__prof
            p
              | врач-косметолог,
              br
              | врач-дерматовенеролог,
              br
              | трихолог, лазеротерапевт
          .item__btn.btn узнать больше
        section.team__item
          .item__img
          .item__name
            p &nbsp;
            p &nbsp;
          .item__prof
            p
              br
              br
              br
          .item__btn.btn узнать больше
        section.team__item
          .item__img
          .item__name
            p &nbsp;
            p &nbsp;
          .item__prof
            p
              br
              br
          .item__btn.btn узнать больше
      .slider-container
      .slider-icon
        img(src='./images/main/arr.svg' alt='')
