.vipclinic
  .container
    .vipclinic__wrapper
      section.vipclinic__about
        h3.vipclinic__title.vipclinic__title--adaptive
          | благодаря Vip clinic вы почувствуете настоящую уверенность в себе
        h3.vipclinic__title
          | благодаря Vip clinic вы почувствуете
        h3.vipclinic__title.vipclinic__title--right
          | настоящую уверенность в себе
        .vipclinic__img
        a.vipclinic__btn.btn.btn--upper(href=links.yclients target="_blank")
          | записаться онлайн
      section.vipclinic__license
        h2.section-title лицензия
        section.license__list.slider-list
          img.license(src="./images/main/license.png")