section.vipclinic
  .container
    .vipclinic__wrapper
      section.vipclinic__about
        h2.vipclinic__title.vipclinic__title--adaptive
          | благодаря Vip clinic вы почувствуете настоящую уверенность в себе
        h2.vipclinic__title
          | благодаря Vip clinic вы почувствуете
        h2.vipclinic__title.vipclinic__title--right
          | настоящую уверенность в себе
        .vipclinic__img
          img(src='./images/main/vipclinic.png' alt='')
        button.vipclinic__btn.btn.btn--upper
          | записаться онлайн
      section.vipclinic__license
        h2.section-title лицензия
        section.license__list
          .license