doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='keywords' content='клиника vipclinic уральская косметология')
  title Главная
  link(rel='stylesheet' href='./css/style.css')
  link(rel='stylesheet' href='./css/adaptive.css')
body
  include modules/header.pug
  include modules/intro.pug
  include modules/about.pug
  include modules/services.pug
  include modules/beforeAfter.pug
  include modules/team.pug
  include modules/vipclinic.pug
  include modules/promotions.pug
  include modules/memberships.pug
  include modules/contacts.pug
  include modules/footer.pug
  
  script(src='./js/burger.js')
  script(src='./js/services.js')