doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='keywords' content='клиника vipclinic уральская косметология')
  title Врач
  link(rel='stylesheet' href='./css/style.css')
  link(rel='stylesheet' href='./css/adaptive.css')
  link(rel='stylesheet' href='./css/fonts.css')
  link(rel='stylesheet' href='./css/person.css')
  link(rel='stylesheet' href='./css/slider.css')
body
  include modules/header.pug

  if id == "p01"
    include persons/p01.pug
    include modules/beforeAfter.pug
  if id == "p02"
    include persons/p02.pug
  
  include modules/buttonSign.pug
  include modules/footer.pug
  
  script(src='./js/burger.js')
  script(src='./js/slider.js')