doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='keywords' content='клиника vipclinic уральская косметология')
  title Услуги
  link(rel='stylesheet' href='./css/style.css')
  link(rel='stylesheet' href='./css/adaptive.css')
  link(rel='stylesheet' href='./css/fonts.css')
  link(rel='stylesheet' href='./css/service-page.css')
body
  include modules/header.pug
  
  if id == "s01"
    include services/s01.pug

  include modules/footer.pug

  script(src='./js/burger.js')