.service-page__photo.first.s01 {
    background: url("../images/services/s01/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s01 {
    background: url("../images/services/s01/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s01 {
    background: url("../images/services/s01/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s02 {
    background: url("../images/services/s02/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s02 {
    background: url("../images/services/s02/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s02 {
    background: url("../images/services/s02/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s03 {
    background: url("../images/services/s03/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s03 {
    background: url("../images/services/s03/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s03 {
    background: url("../images/services/s03/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s04 {
    background: url("../images/services/s04/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s04 {
    background: url("../images/services/s04/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s04 {
    background: url("../images/services/s04/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s05 {
    background: url("../images/services/s05/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s05 {
    background: url("../images/services/s05/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s05 {
    background: url("../images/services/s05/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s06 {
    background: url("../images/services/s06/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s06 {
    background: url("../images/services/s06/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s06 {
    background: url("../images/services/s06/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s07 {
    background: url("../images/services/s07/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s07 {
    background: url("../images/services/s07/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s07 {
    background: url("../images/services/s07/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s08 {
    background: url("../images/services/s08/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s08 {
    background: url("../images/services/s08/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s08 {
    background: url("../images/services/s08/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s09 {
    background: url("../images/services/s09/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s09 {
    background: url("../images/services/s09/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s09 {
    background: url("../images/services/s09/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s10 {
    background: url("../images/services/s10/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s10 {
    background: url("../images/services/s10/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s10 {
    background: url("../images/services/s10/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s11 {
    background: url("../images/services/s11/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s11 {
    background: url("../images/services/s11/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s11 {
    background: url("../images/services/s11/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s12 {
    background: url("../images/services/s12/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s12 {
    background: url("../images/services/s12/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s12 {
    background: url("../images/services/s12/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s13 {
    background: url("../images/services/s13/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s13 {
    background: url("../images/services/s13/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s13 {
    background: url("../images/services/s13/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s14 {
    background: url("../images/services/s14/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s14 {
    background: url("../images/services/s14/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s14 {
    background: url("../images/services/s14/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s15 {
    background: url("../images/services/s15/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s15 {
    background: url("../images/services/s15/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s15 {
    background: url("../images/services/s15/3.png") center center;
    background-size: cover;
}

.service-page__photo.first.s16 {
    background: url("../images/services/s16/1.png") center center;
    background-size: cover;
}

.service-page__photo.second.s16 {
    background: url("../images/services/s16/2.png") center center;
    background-size: cover;
}

.service-page__photo.third.s16 {
    background: url("../images/services/s16/3.png") center center;
    background-size: cover;
}