.slider-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.slider-list {
  overflow-x: hidden !important;
}

.slider-arrow {
  background: #BFB9AD url("../images/icons/slider-arrow.svg") 40% center no-repeat;
  background-size: 20px;
  border-radius: 50%;

  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  opacity: 0.7;
  transition: all 0.2s linear;
}

.slider-arrow.blocked {
  opacity: 0.2;
}

.slider-arrow.left {
  left: 0;
}

.slider-arrow.right {
  right: 0;
  transform: rotate(180deg);
}

@media (max-width: 700px) {
  .slider-arrow {
    width: 35px;
    height: 35px;
    background-size: 15px;
  }
}
