doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="robots" content="none")
    title VIP CLINIC - Управление/Услуги
    link(rel='stylesheet' href='/css/admin/tabs.css')
    link(rel="stylesheet" href="/css/admin/fonts.css")
    script
  body 
    .tab 
      .tab__content 
          button.add-new Добавить специалиста
          ul.default__list
            each person in persons
              li.default__item(data-id=person.id)
                .person-info
                  img.img.person(src=person.photo)
                  p.name #{person.title}
                .default__item-control 
                    button.btn.edit Редактировать
                    button.btn.delete Удалить
      .tab-modal 
        .tab-modal__window 
          .tab-modal__content
            .modal__section
              .modal__img.person
                img(src="")
                button.modal__img-btn Изменить 
              .modal__text
                #firstname(contenteditable="plaintext-only")
                #secondname(contenteditable="plaintext-only")
                #profession(contenteditable="plaintext-only")
            .modal__person-text-section
              h2.person-text__title Образование
              .modal__person-education 
            .modal__person-text-section
              h2.person-text__title Skills
              .modal__person-skills 
            .modal__control 
              button.save Сохранить
              button.back Отменить
    script(src="/js/admin/tabs/persons.js")
            

