doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="robots" content="none")
    title VIP CLINIC - Управление/Услуги
    link(rel='stylesheet' href='/css/admin/tabs.css')
    link(rel="stylesheet" href="/css/admin/fonts.css")
    script
  body 
    .tab 
      ul.tab-menu
        li.tab-menu__item
          button.tab-menu__btn.active(data-index="0") Список
        li.tab-menu__item
          button.tab-menu__btn(data-index="1") Сетка ПК
        li.tab-menu__item
          button.tab-menu__btn(data-index="2") Сетка Моб
      .tab__content   
        .tab__item.active(data-index="0")
          button.add-new Добавить услугу
          ul.default__list
            each service in services.shortInfo
              li.default__item(data-id=service.id)
                p.name #{service.name}
                .default__item-control.services
                  button.btn.edit Редактировать
                  button.btn.delete(data-id=service.id) Удалить
        .tab__item(data-index="1")
          .desktop-struct-menu 
            button.desktop-struct-item.active(data-index="0") инъекционная косметология
            button.desktop-struct-item(data-index="1") эстетическая косметология
            button.desktop-struct-item(data-index="2") аппаратная косметология
            button.desktop-struct-item(data-index="3") все услуги
          .desktop-struct-content-wrapper
            .desktop-struct-content.active(data-collection="0")
            .desktop-struct-content(data-collection="1")
            .desktop-struct-content(data-collection="2")
            .desktop-struct-content(data-collection="3")
            .desktop-struct-content-control 
              button.add.single Добавить single линию
              button.add.double Добавить double линию
              button.save Сохранить
        .desktop-struct-list
        .tab__item(data-index="2")
          .mobile-struct-menu 
            button.mobile-struct-item.active(data-index="0") инъекционная косметология
            button.mobile-struct-item(data-index="1") эстетическая косметология
            button.mobile-struct-item(data-index="2") аппаратная косметология
            button.mobile-struct-item(data-index="3") все услуги
          .mobile-struct-content-wrapper
            .mobile-struct-content.active(data-collection="0")
            .mobile-struct-content(data-collection="1")
            .mobile-struct-content(data-collection="2")
            .mobile-struct-content(data-collection="3")
            .mobile-struct-content-control 
              button.add Добавить
              button.save Сохранить
      .tab-modal 
        .tab-modal__window 
          .tab-modal__content
            .modal__section
              .modal__img.service
                img(id="desktop_1", src="")
                button.modal__img-btn Изменить 
                input(type="file" accept="image/png, image/jpeg", style="display: none", id="desktop_1_input")
              .modal__text
                #name(contenteditable="plaintext-only")
                .container-str
                  .str
                    p Продолжительность
                    #time(contenteditable="plaintext-only")
                  .str
                    p Анестезия
                    #anesthesia(contenteditable="plaintext-only")
                  .str
                    p Периодичность
                    #periodicity(contenteditable="plaintext-only")
                  .str
                    p Эффект
                    #effect(contenteditable="plaintext-only")
                  .str
                    p Рекомендуемый курс
                    #course(contenteditable="plaintext-only")
                  .str
                    p#drugs_p(contenteditable="plaintext-only")
                    #drugs(contenteditable="plaintext-only")
            .modal__section
              .modal__img.service
                img(id="desktop_2", src="")
                button.modal__img-btn Изменить 
                input(type="file" accept="image/png, image/jpeg", style="display: none", id="desktop_2_input")
              .modal__text
                ul.main-text
            .modal__section
              .modal__img.service
                img(id="desktop_3", src="")
                button.modal__img-btn Изменить 
                input(type="file" accept="image/png, image/jpeg", style="display: none", id="desktop_3_input")
              .modal__service-prices 
                .modal__service-prices-menu 
                .modal__service-prices-content
            .modal__section.photo-sec
              .mobile-title Мобильные фото
              div(style="display: flex;")
                .modal__img.service
                  img(id="mobile_1", src="")
                  button.modal__img-btn Изменить 
                  input(type="file" accept="image/png, image/jpeg", style="display: none", id="mobile_1_input")
                .modal__img.service
                  img(id="mobile_2", src="")
                  button.modal__img-btn Изменить 
                  input(type="file" accept="image/png, image/jpeg", style="display: none", id="mobile_2_input")
            .modal__control 
              button.save Сохранить
              button.back Отменить
    script(src="/js/admin/tabs/servicesTab/servicesTabList.js")
    script(src="/js/admin/tabs/servicesTab/servicesTabStruct.js")
            

