section.person
  .container 
    .person__inner 
      .person__adaptive
        .person__adaptive-content
          h2.person__name Бурумбаева виктория
          p.person__def Основатель VIP CLINIK, врач-косметолог, дерматовенеролог, трихолог
        .person__line 
      .person__image 
        img(src="/images/persons/p01/1.png")
      .person__content 
        .person__main
          h2.person__name Бурумбаева виктория
          p.person__def Основатель VIP CLINIK, врач-косметолог, дерматовенеролог, трихолог
        .person__line 
        .person__block
          h3.person__block-title Образование
          ul.person__list 
            li.person__item 2012-2018 гг. «Лечебное дело» Амурская Государственная Медицинская Академия
            li.person__item 2018-2020 гг. Клиническая ординатура по специальности «Дерматовенерология» ВМА им. С.М. Кирова
            li.person__item 2020 г. Профессиональная переподготовка по специальности «косметология» под руководством Е.А.Аравийской
            li.person__item 2020 г. Повышение квалификации по трихологии (72 часа) «Наутилус»
          p.person__text Непрерывное повышение квалификации, постоянное посещение семинаров и мастер-классов, обучение новейшим методикам, участие в конгрессах в качестве слушателя.
        .person__block
          h3.person__block-title Skills
          p.person__text Главный талант Виктории заключается в:
          ul.person__list 
            li.person__item Лечении кожи и придании ей невероятного лоска
            li.person__item Создании правильных и гармоничных черт лица с помощью инъекционных и аппаратных методик
            li.person__item В трихологии Виктории под силу решение любых проблем с волосами – от тусклости и выпадения до сложных случаев
