section.person
  .container 
    .person__inner
      .person__adaptive
        .person__adaptive-content
          h2.person__name Долгова мария
          p.person__def Врач-косметолог, врач-дерматовенеролог, трихолог, лазеротерапевт
        .person__line 
      .person__image 
        img(src="/images/persons/p02/1.png")
      .person__content 
        .person__main
          h2.person__name Долгова мария
          p.person__def Врач-косметолог, врач-дерматовенеролог, трихолог, лазеротерапевт
        .person__line 
        .person__block
          h3.person__block-title Образование
          ul.person__list 
            li.person__item 2012-2018 «Лечебное дело» Военно-медицинская академия им. С.М. Кирова 
            li.person__item 2018-2020 клиническая ординатура по дерматовенерологии Военно-медицинской академии им. Кирова 
            li.person__item 2020 профессиональная подготовка по косметологии 
            li.person__item 2021 повышение квалификации по трихологии
        .person__block
          h3.person__block-title Skills
          p.person__text Владеет всеми основными современными уходовыми, аппаратными и инъекционными методиками в косметологии, а также занимается лечением заболеваний кожи и волос.
          p.person__text Залогом успеха считает качественную консультацию и честность с пациентами, всегда спокойно и с пониманием отвечает на все вопросы, рекомендует только работающие процедуры.
          p.person__text Отдельное направление работы – это диагностика и удаление доброкачественных новообразований кожи. Все манипуляции проводит аккуратно, комфортно для пациента.
          p.person__text Регулярно повышает свою квалификацию по передовым протоколам эстетической медицины. Является постоянным участником научно-практических конференций и конгрессов.