html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

*[contenteditable="plaintext-only"],
*[contenteditable="true"] {
  padding: 8px 5px !important;
  font-family: "Roboto-Regular", serif !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  transition: all 0.2s linear;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 0 !important;
}

*[contenteditable="plaintext-only"]:focus,
*[contenteditable="true"]:focus {
  background-color: #f3f6fa;
  outline: none;
}

.tab {
  width: 100%;
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
}

.tab__content {
  z-index: 10;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.tab__content.hide {
  display: none;
}

.tab__item {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.tab__item.active {
  display: flex;
}

.add-new,
.item-change {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 20px;
  transition: all 0.2s linear;

  max-width: 1200px;

  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;
}

.add-new:hover,
.add-new:focus,
.item-change:hover,
.item-change:focus {
  outline: none;
  background-color: #4F72A3;
  color: #fff;
}

.tab-menu {
  list-style: none;

  display: flex;
  margin: 0;
  padding: 30px 0;
  padding-left: 30px;

  border-bottom: 1px solid #000;
}


.tab-menu.hide {
  display: none;
}

.tab-menu__item {
  margin-right: 20px;
}

.tab-menu__btn {
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 20px;
  opacity: 0.7;
  transition: all 0.2s linear;

  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.4rem;
  cursor: pointer;
}

.tab-menu__btn:hover,
.tab-menu__btn:focus {
  opacity: 1;
  outline: none;
  background-color: #e7edf1;
}

.tab-menu__btn.active {
  background-color: #d9dcdf;
  opacity: 1;
}

.tab-menu__btn.active:focus,
.tab-menu__btn.active:hover {
  background-color: #d9dcdf;
  outline: none;
}

.default__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.default__item {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  border: 1px solid #000;
  border-radius: 5px;
  max-width: 1200px;
  margin-bottom: 20px;
  background-color: #f3f6fa;
}

.default__item .name {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.person-info-text .name,
.person-info-text .prof {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
}

.person-info-text .name {
  margin-bottom: 10px;
  font-family: "Roboto-Medium", serif;
  font-weight: 500;
}

.person-info-text .prof {
  max-width: 500px;
}

.default__item .btn,
.default__item-control .btn {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.1rem;

  padding: 8px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.default__item-control .btn:hover,
.default__item-control .btn:focus,
.default__item .btn:hover,
.default__item .btn:focus {
  background-color: #4F72A3;
  color: #fff;
}

.default__item .img {
  max-width: 400px;
  max-height: 250px;
  display: block;
}

.default__item .img.person {
  max-height: 150px;
}

.default__item .inlist-wrapper {
  align-self: flex-start;
}

.default__item .inlist {
  list-style: none;
  padding: 0;
  padding-left: 30px;
}

.default__item .inlist-title {
  font-family: "Roboto-Medium", serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.default__item .inlist__item {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.1rem;

  margin-bottom: 10px;
  position: relative;
}

.default__item .inlist__item::before {
  display: block;
  content: "";
  position: absolute;

  width: 5px;
  height: 5px;

  background-color: #000;
  border-radius: 50%;

  top: 50%;
  left: -10px;
  
  transform: translateY(-50%);
}

.default__item .inlist__item:last-child {
  margin-bottom: 0;
}

.default__item .info {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.default__item-control {
  display: flex;
  flex-direction: column;
}

.default__item-control.services {
  flex-direction: row;
}

.default__item-control .btn.edit {
  margin-bottom: 15px;
  margin-right: 0;
}

.default__item-control .btn.delete {
  margin-right: 0;
}

.default__item-control.services .btn.edit {
  margin-bottom: 0;
  margin-right: 15px;
}

.default__item-control.services .btn.delete {
  margin-right: 0;
}

.tab-modal {
  background-color: #0000007b;
  width: 100%;
  min-height: 100vh;

  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.tab-modal.active {
  display: flex;
}

.tab-modal__window {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  width: 100%;
  flex-grow: 1;
} 

.tab-modal__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
}

.title.before-after {
  max-width: 600px;
  text-align: left;
  justify-content: start;
  margin-bottom: 20px;
}

.modal__img,
.item__img.service {
  display: flex;  
  justify-content: center;
  align-items: center;

  position: relative;

  max-width: max-content;
}

.modal__img.promo img,
.modal__img.price img {
  max-width: 600px;
}

.modal__img::before,
.item__img.service::before {
  content: "";
  display: block;
  position: absolute;

  background-color: #000;
  opacity: 0;
  transition: all 0.2s linear;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  z-index: 10;
}

.modal__img img,
.item__img.service img {
  max-width: 400px;
  height: auto;
  display: block;
}

.modal__img.before-after img {
  max-width: 600px;
}

.modal__img.service {
  margin-right: 30px;
}

.modal__img.service img {
  max-width: 300px;
}

.modal__img-btn,
.item__img.service .btn {
  opacity: 0;
  transition: all 0.2s linear;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.1rem;

  padding: 8px 15px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  z-index: 100;
  outline: none;
  border: none;
}

.modal__img:hover .modal__img-btn,
.item__img.service:hover .btn{
  opacity: 1;
  background-color: #f3f6fa;
}

.modal__img:hover::before,
.item__img.service:hover::before {
  opacity: 0.6;
}

.list-title {
  font-family: "Roboto-Medium", serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.modal__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.modal__item {
  margin-right: 20px;
  margin-bottom: 10px;

  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.2rem;

  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px 15px;
  opacity: 0.7;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s linear;
  background-color: #fff;
}

.modal__item:hover,
.modal__item:focus {
  opacity: 1;
}

.modal__item.active {
  opacity: 1;
  color: #fff;
  background-color: #4F72A3;
}

.modal__control {
  flex-grow: 1;
  display: flex;
  align-items: end;
  justify-content: end;
}

.modal__control button {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.2rem;

  padding: 8px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;

  margin-right: 20px;
}

.modal__control button:hover,
.modal__control button:focus {
  background-color: #4F72A3;
  color: #fff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title input {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1rem;

  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;

  width: 500px;
}

.number {
  display: flex;
  align-items: center;
}

.number .text {
  margin-right: 10px;
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.number-value {
  min-width: 100px;
}

.person-info {
  display: flex;
  align-items: center;
}

.person-info img {
  margin-right: 20px;
}

.modal__section {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.modal__img.person {
  margin-right: 20px;
}

.modal__img.person img {
  max-width: 200px;
}

.modal__text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__text div {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1rem;

  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
}

.modal__text #firstname,
.modal__text #secondname,
.modal__text #profession {
  min-width: 500px;
}

.modal__text #firstname,
.modal__text #secondname {
  margin-bottom: 10px !important;
}

.person-text__title {
  font-family: "Roboto-Medium", serif !important;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
}

.person-text__list {
  list-style: none;
  padding: 0;
  margin-left: 40px;
}

.person-text__list li {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1rem;

  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 10px;
}

.modal__service-prices-content > button,
.desktop-struct-item-add-btn,
.desktop-struct-content-control .add,
.mobile-struct-content-control .add,
.desktop-struct-content-control .save,
.mobile-struct-content-control .save {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.1rem;
  max-width: max-content;
  max-height: max-content;
  
  padding: 8px 15px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;

  transition: all 0.2s linear;
  margin-left: 40px;
}

.modal__service-prices-content > button:hover,
.modal__service-prices-content > button:focus,
.desktop-struct-item-add-btn:hover,
.desktop-struct-item-add-btn:focus,
.desktop-struct-content-control .add:hover,
.desktop-struct-content-control .add:focus,
.mobile-struct-content-control .add:focus,
.mobile-struct-content-control .add:hover,
.desktop-struct-content-control .save:focus,
.mobile-struct-content-control .save:focus,
.desktop-struct-content-control .save:hover,
.mobile-struct-content-control .save:hover {
  background-color: #4F72A3;
  color: #fff;
}

.content-li {
  display: flex;
  align-items: center;
  border: none !important;
  width: 100%;
  margin-bottom: 10px;
}

.modal__service-prices-menu > button,
.modal__service-prices-content-item .btn.add,
.modal__text .btn.add,
.content-li .delete,
.modal__service-prices-menu-item .delete,
.prices-item .delete,
.modal__service-prices-content-item .delete,
.desktop-struct-line-control .delete,
.desktop-struct-line-control .swap,
.mobile-struct-line-control .delete,
.mobile-struct-line-control .swap,
.modal__person-text-section .btn.add {
  margin-right: 10px;
  max-width: 40px;
  flex-grow: 1;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 50%;
  width: 42px;
  height: 40px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s linear;
}

.modal__service-prices-menu > button:hover,
.modal__service-prices-menu > button:focus,
.modal__service-prices-content-item .btn.add:hover,
.modal__service-prices-content-item .btn.add:focus,
.modal__text .btn.add:focus,
.modal__text .btn.add:hover,
.modal__person-text-section .btn.add:hover,
.modal__person-text-section .btn.add:focus,
.content-li .delete:focus,
.content-li .delete:hover,
.modal__service-prices-menu-item .delete:focus,
.modal__service-prices-menu-item .delete:hover,
.prices-item .delete:hover,
.prices-item .delete:focus,
.modal__service-prices-content-item .delete:hover,
.modal__service-prices-content-item .delete:focus,
.desktop-struct-line-control .delete:hover,
.desktop-struct-line-control .delete:focus,
.desktop-struct-line-control .swap:focus,
.desktop-struct-line-control .swap:hover,
.mobile-struct-line-control .delete:hover,
.mobile-struct-line-control .swap:focus  {
  background-color: #f3f6fa;
  opacity: 1;
  outline: none;
}

.content-li div {
  width: 100%;
  max-width: 1400px;
  height: auto;
}

.modal__service-prices-menu > button img,
.modal__service-prices-content-item .btn.add img,
.modal__text .btn.add img,
.modal__person-text-section .btn.add img,
.content-li .delete img,
.modal__service-prices-menu-item .delete img,
.desktop-struct-line-control .delete img,
.desktop-struct-line-control .swap img,
.mobile-struct-line-control .delete img,
.mobile-struct-line-control .swap img {
  max-width: 100%;
  height: auto;
  display: block;
}

.person-text__inlist {
  list-style: none;
  padding: 0;
  margin-left: 40px;
}

.modal__section {
  display: flex;
  margin-bottom: 40px;
}

.modal__section.photo-sec {
  flex-direction: column;
}

.mobile-title {
  font-family: "Roboto-Medium", serif;
  font-weight: 500;
  font-size: 1.7rem;

  margin-bottom: 20px;
}

.container-str {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  border: none !important;
  padding: 0 !important;
}

.str {
  width: 300px;
  margin-right: 20px;
  border: none !important;
  padding: 0 !important;
}

.str p {
  font-family: "Roboto-Medium", serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.str:nth-child(2n) {
  margin-right: 0;
}

.modal__service-prices-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.modal__service-prices-menu-item {
  margin-right: 20px;
  margin-bottom: 10px;
} 

.modal__service-prices-menu-item p {
  margin-top: 0 !important;
}

.modal__service-prices-menu-item button {
  padding: 8px 0;
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal__service-prices-menu-item {
  display: flex;
  align-items: center;
}

.modal__service-prices-menu-item .delete {
  width: 40px;
  padding: 0;
}

.modal__service-prices-menu-item .delete img {
  max-width: 26px;
  display: block; 
  height: auto;
  margin: 0 auto;
}

.modal__service-prices-content {
  display: flex;
  flex-wrap: wrap;
}

.modal__service-prices-content-item {
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1rem;

  width: 350px;
  display: none;
}

.modal__service-prices-content-item.active {
  display: block;
}

.modal__service-prices-content-item .delete {
  width: 40px;
  padding: 0;
  margin: 0 auto;
  display: block;
}

.modal__service-prices-content-item .delete img {
  max-width: 100%;
  display: block;
  height: auto;
}

.modal__service-prices-content-item .name,
.modal__service-prices-content-item .desc {
  margin-bottom: 10px !important;
  border: 1px solid #000;
}

.modal__service-prices-content-item .time,
.modal__service-prices-content-item .volume,
.modal__service-prices-content-item .price {
  border: 1px solid #000;
  min-width: 50px;
}

.modal__service-prices-content-item .prices .prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal__service-prices-content-item .delete img {
  max-width: 26px;
  margin: 0 auto;
}

.modal__service-prices-content-item .prices .prices-item .delete {
  margin: 0;
  margin-right: 10px;
}

.desktop-struct-menu {
  display: flex;
  align-items: center;
}

.desktop-struct-content-wrapper,
.mobile-struct-content-wrapper  {
  display: flex;
  flex-direction: column;
  padding: 20px;

  flex-grow: 1;
  position: relative;

  max-width: 100%;
  overflow-x: hidden;
}

.desktop-struct-item,
.mobile-struct-item {
  padding: 15px 25px !important;
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  opacity: 1;
  font-size: 1.2rem;
  border: none;
  background-color: #f3f6fa;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 0;
}

.desktop-struct-item p,
.mobile-struct-item p {
  margin-top: 0 !important;
}

.desktop-struct-item:hover,
.desktop-struct-item:focus,
.mobile-struct-item:focus,
.mobile-struct-item:hover {
  opacity: 1;
}

.desktop-struct-item:hover,
.desktop-struct-item:focus,
.desktop-struct-item.active,
.mobile-struct-item:hover,
.mobile-struct-item:focus,
.mobile-struct-item.active {
  background-color: #d9dcdf;
  outline: none;
  opacity: 1;
}

.desktop-struct-content,
.mobile-struct-content {
  display: none;
  flex-direction: column;
}

.desktop-struct-content .line,
.mobile-struct-content .line {
  width: 1200px;
  margin-bottom: 40px;
}

.desktop-struct-content.active,
.mobile-struct-content.active {
  display: flex;
}

.line {
  display: flex;
}

.line.mobile {
  flex-wrap: wrap;
  max-width: 1110px;
}

.half {
  display: flex;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.item .name {
  font-family: "Roboto-Medium", serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.item .desc {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.item.big {
  width: 600px;
  height: 600px;
}

.item-change {
  width: 100%;
  display: block;
  margin-top: auto;
  margin-left: 0;
  font-size: 1rem;
}

.struct-control {
  margin-top: 50px;
}

.desktop-struct-list {
  box-sizing: border-box;
  display: none;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;

  background-color: #00000099;
  padding: 20px;
  border-radius: 5px;

  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
}

.desktop-struct-list.active {
  display: block;
}

.desktop-struct-list-item {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.2rem;

  width: max-content;
  height: max-content;

  padding: 8px 20px;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.desktop-struct-list-item:hover,
.desktop-struct-list-item:focus {
  color: #fff;
  background-color: #4F72A3;
}

.line-wrapper {
  display: flex;
  width: 100%;
  align-items: start;
}

.desktop-struct-line-control, 
.mobile-struct-line-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-struct-line-control .delete,
.mobile-struct-line-control .delete {
  margin-bottom: 10px;
}

.desktop-struct-content-control,
.mobile-struct-content-control {
  display: flex;
  padding-left: 65px;
}

.desktop-struct-content-control .add,
.mobile-struct-content-control .add {
  margin-right: 30px;
  margin-left: 0 !important;
}

.desktop-struct-content-control .save,
.mobile-struct-content-control .save {
  margin-left: auto !important;
}

.mobile-item-wrapper {
  display: flex;
  align-items: start;
  margin-right: 20px;
  margin-bottom: 20px;
}

.default__item-div {
  min-width: 300px;
  background-color: #fff;
}
  
.default__item-input {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.2s linear;
}

.default__item-input:focus {
  outline: none;
  background-color: #f3f6fa;
}

.default__list .btn.save {
  font-family: "Roboto-Regular", serif;
  font-weight: 400;
  font-size: 1.1rem;
  max-width: max-content;
  max-height: max-content;
  
  padding: 8px 15px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;

  transition: all 0.2s linear;
  margin-left: 40px;

  width: 100%;
  max-width: 1200px;
  margin-left: 0 !important;
}

.default__list .btn.save:focus,
.default__list .btn.save:hover {
  background-color: #f3f6fa;
  opacity: 1;
}

p#drugs_p {
  margin-bottom: 20px !important;
  display: block;
  font-size: 1.3rem !important;
  font-family: "Roboto-Medium", serif !important;
  font-weight: 500 !important;
}