section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | чистка лица/спины
        .service-page__line.adaptive
        .service-page__photo.first.s02
        .service-page__main-content
          h1.service-page__title 
            | чистка лица/спины
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 60-105 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Не требуется
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text Для сухой/нормальной кожи 1 раз в 3-4 мес, для комбинированной/жирной кожи 1 раз в 1-2 мес
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Эффект сохраняется 1-3 месяца, далее рекомендуется повторить процедуру
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text Регулярно с гигиенической целью
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Косметика
                p.feautures__text Holy Land, GiGi, DMK, Ultraceuticals, Obagi
      section.service-page__section.bg
        .service-page__photo.second.s02
        .service-page__text-content 
          p.service-page__text-item 
            span Чистка лица/спины
            |  – это косметологическая процедура, которую проводят для очищения пор от избытка кожного сала, загрязнений и отмерших клеток. Грамотный выбор косметики и типа чистки способен значительно улучшить состояние кожи, сузить и очистить поры, уменьшить жирный блеск и количество воспалительных элементов.
          p.service-page__text-item
            span Показания к проведению процедуры:
            br
            | - расширенные поры;
            br
            | - себорея;
            br
            | - тусклый цвет лица;
            br
            | - гиперкератоз;
            br
            | - жирная/комбинированная кожа;
            br
            | - акне средней и тяжёлой степени тяжести;
            br
            | - наличие открытых/закрытых комедонов, миллиумов.
          p.service-page__text-item
            span Противопоказания к процедуре:
            br
            | - острые формы дерматитов;
            br
            | - герпес в стадии обострения;
            br
            | - фурункулез;
            br
            | - солнечный или химический ожог.
          p.service-page__text-item
            span Эффект от процедуры:
            br
            | Глубокое очищение кожи, устранение гиперкератоза. Улучшение цвета лица, сужение пор, уменьшение количества воспалений. Также происходит стимуляция регенерации клеток и улучшение межклеточного обмена. Для жирной и комбинированной кожи рекомендуется проводить процедуру чистки регулярно, раз в 1-2 месяца, а обладательницам нормальной и сухой кожи рекомендовано посещать косметолога каждые 2-3 месяца.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s02
        .service-page__price-content
          ul.service-page__price-list 
            li.service-page__price-item 
              h3.price-item__title Лечебная чистка лица
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 6700₽
            li.service-page__price-item 
              h3.price-item__title Anti-age чистка лица
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 7100₽
            li.service-page__price-item 
              h3.price-item__title Поросуживающая чистка лица
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 6100₽
            li.service-page__price-item 
              h3.price-item__title Атравматическая чистка лица
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 5100₽
            li.service-page__price-item 
              h3.price-item__title Deluxe-процедура глубокого очищения на косметике премиум-класса Zein Obagi (США)
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 8100₽
            li.service-page__price-item 
              h3.price-item__title Чистка с лифтинг-эффектом на косметике премиум-класса Rhea (Италия)
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 7100₽
            li.service-page__price-item 
              h3.price-item__title Комплексная чистка спины
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 7100₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom 
                span.time
                spam.value
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн