section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Микроигольчатый
            br
            | RF-лифтинг “Vivace”
        .service-page__line.adaptive
        .service-page__photo.first.s04
        .service-page__main-content
          h1.service-page__title 
            | Микроигольчатый
            br
            | RF-лифтинг “Vivace”
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 60-90 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Аппликационная
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1 процедура в 1-3 месяца
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Максимальный эффект достигается через 3 месяца после последней процедуры, а первые результаты вы заметите уже через месяц после первой процедуры
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text 2-3 процедуры
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text Нет
      section.service-page__section.bg
        .service-page__photo.second.s04
        .service-page__text-content 
          p.service-page__text-item
            span Микроигольчатый RF лифтинг на аппарате Vivace 
            | – это косметологическая безоперационная процедура, которая сочетает в себе воздействие сразу двух факторов: фракционное воздействие микроиглами и радиочастотное воздействие. Технология применяется для безоперационного лифтинга тканей, борьбы с признаками старения кожи и выравнивания ее рельефа как на лице, так и в других анатомических зонах.
          p.service-page__text-item
            span Зоны воздействия: 
            | лицо, шея, декольте; область глаз; ягодицы; живот; внутренняя поверхность рук/ног; локти и кисти рук; колени; спина.
          p.service-page__text-item
            span Показания:
            br
            | В качестве омолаживающей процедуры - показана пациентам старше 30 лет.
            br
            | Также фракционный игольчатый РФ-лифтинг показан при таких косметологических проблемах:
            br
            | - возрастные дегенеративные изменения кожных покровов;
            br
            | - признаки фотостарения;
            br
            | - наличие второго подбородка;
            br
            | - опущение щек, брыли;
            br
            | - морщины на лице, шее, в зоне декольте;
            br
            | - неровности рельефа кожи;
            br
            | - состояние постакне;
            br
            | - рубцы, растяжки;
            br
            | - целлюлит, избыточные жировые отложения;
            br
            | - снижение тургора эпидермиса в разных зонах тела (руки, ноги, живот, др.);
            br
            | - гиперпигментация.
          p.service-page__text-item
            span Противопоказания:
            br
            | - нарушения гемостаза;
            br
            | - обострения хронических заболеваний;
            br
            | - наличие острого воспаления в зоне воздействия;
            br
            | - беременность;
            br
            | - период грудного вскармливания;
            br
            | - психические заболевания;
            br
            | - онкологические патологии.
          p.service-page__text-item
            span Ожидаемый результат:
            br
            | - исчезают мелкие морщины;
            br
            | - разглаживаются глубокие заломы;
            br
            | - осветляются пигментные пятна;
            br
            | - выравнивается рельеф кожи;
            br
            | - подтягивается обвисшая и дряблая кожа;
            br
            | - уменьшаются жировые отложения;
            br
            | - уменьшается второй подбородок.
            br
            | Эффект есть уже после первого сеанса, но в зависимости от клинического случая врач может назначить 1-3 процедуры с интервалом 1-2 месяца.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s04
        .service-page__price-content
          ul.service-page__price-list 
            li.service-page__price-item 
              h3.price-item__title Лицо полностью
              p.price-item__def
              p.price-item__bottom 
                span.time 75 мин
                spam.value 42000₽
            li.service-page__price-item 
              h3.price-item__title Лицо + глаза
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 62000₽
            li.service-page__price-item 
              h3.price-item__title Глаза
              p.price-item__def
              p.price-item__bottom 
                span.time 60 мин
                spam.value 29000₽
            li.service-page__price-item 
              h3.price-item__title Шея
              p.price-item__def
              p.price-item__bottom 
                span.time 60 мин
                spam.value 37000₽
            li.service-page__price-item 
              h3.price-item__title Декольте
              p.price-item__def
              p.price-item__bottom 
                span.time 75 мин
                spam.value 39000₽
            li.service-page__price-item 
              h3.price-item__title Лицо + шея
              p.price-item__def
              p.price-item__bottom 
                span.time 105 мин
                spam.value 67000₽
            li.service-page__price-item 
              h3.price-item__title Шея + декольте
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 63000₽
            li.service-page__price-item 
              h3.price-item__title Лицо + шея + декольте
              p.price-item__def
              p.price-item__bottom 
                span.time 120 мин
                spam.value 92000₽
            li.service-page__price-item 
              h3.price-item__title Плацентатотерапия препаратом Курасен (Curacen)
              p.price-item__def
              p.price-item__bottom 
                span.time 90 мин
                spam.value 63000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom 
                span.time
                spam.value
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн