section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Процедуры на аппарате
            br
            | Lumenis М22
        .service-page__line.adaptive
        .service-page__photo.first.s05
        .service-page__main-content
          h1.service-page__title 
            | Процедуры на аппарате
            br
            | Lumenis М22
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 15-45 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Обычно не требуется, проводится по желанию
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1 раз в 4 недели
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Сужение пор, улучшение качества кожи, уменьшение пигментации и сосудистых звёздочек, видимое омоложение кожи
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text 3-5 процедур 1-2 раза в год
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Косметика
                p.feautures__text Не используются
      section.service-page__section.bg
        .service-page__photo.second.s05
        .service-page__text-content 
          p.service-page__text-item
            span Аппарат Lumenis М22 
            br
            | – многомодульная платформа, предназначенная для проведения процедур фотомоложения, фотоэпиляции, удаления сосудистых звездочек и пигментации. Аппарат представлен известным во всем мире производителем оборудования Lumenis (США). М22 позволяет проводить процедуры фотоомоложения быстро и безопасно для здоровья. Для этого предусмотрена возможность составления индивидуальных программ ухода в зависимости от фототипа кожи и проблемной зоны.
          p.service-page__text-item
            span Показания:
            br
            | - мелкие и средние морщины;
            br
            | - расширенные поры;
            br
            | - нежелательные волосы;
            br
            | - пигментные пятна;
            br
            | - мелазма;
            br
            | - розацеа;
            br
            | - купероз, сосудистые «звездочки», телеангиэктазии;
            br
            | - гемангиомы,ангиомы;
            br
            | - акне и постакне.
          p.service-page__text-item
            span Противопоказания к поведению процедуры:
            br
            | - свежий загар;
            br
            | - повышенная фоточувствительность;
            br
            | - дерматозы в стадии обострения;
            br
            | - острые вирусные инфекции;
            br
            | - беременность и грудное вскармливание;
            br
            | - сахарный диабет в стадии декомпенсации;
            br
            | - онкологические заболевания;
            br
            | - лихорадка.
          p.service-page__text-item Процедура не имеет ограничений по возрасту пациента. В 18 лет с его помощью можно избавиться от веснушек и сократить поры, после 25 лет фотоомоложение поможет простимулировать внутренние ресурсы кожи и поддержать необходимый уровень коллагена, удалить мелкие сосуды, пигментные пятна, увядающей коже эта процедура вернет свежесть и молодость.
          p.service-page__text-item Период реабилитации после процедуры минимальный, практически сразу вы сможете окунуться в привычный для вас образ жизни, пользоваться декоративной косметикой можно через 4-12 часов, в зависимости от глубины воздействия. Единственное, чего стоит избегать, так это пребывания на солнце и использования агрессивных косметический средств с содержанием спирта, фруктовых кислот, абразивных частиц. Также после прохождения процедуры необходимо наносить на кожу солнцезащитные средства в течении 2-3 недель.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s05
        .service-page__price-content
          ul.service-page__price-list 
            li.service-page__price-item 
              h3.price-item__title Омоложение 3D
              p.price-item__def до 300 вспышек
              p.price-item__bottom 
                span.time 45 мин
                spam.value 17500₽
            li.service-page__price-item 
              h3.price-item__title Омоложение 2D
              p.price-item__def до 200 вспышек
              p.price-item__bottom 
                span.time 30 мин
                spam.value 15500₽
            li.service-page__price-item 
              h3.price-item__title Лечение акне/постакне/розацеа/пигментации
              p.price-item__def щёки, до 120 вспышек
              p.price-item__bottom 
                span.time 30 мин
                spam.value 14500₽
            li.service-page__price-item 
              h3.price-item__title Лечение акне/постакне/розацеа/пигментации
              p.price-item__def всё лицо, до 200 вспышек
              p.price-item__bottom 
                span.time 45 мин
                spam.value 16000₽
            li.service-page__price-item 
              h3.price-item__title Фотокоагуляция (удаление сосудов)
              p.price-item__def щёки, до 60 вспышек
              p.price-item__bottom 
                span.time 15 мин
                spam.value 7500₽
            li.service-page__price-item 
              h3.price-item__title Фотокоагуляция (удаление сосудов)
              p.price-item__def нос, до 30 вспышек
              p.price-item__bottom 
                span.time 15 мин
                spam.value 4500₽
            li.service-page__price-item 
              h3.price-item__title Фотокоагуляция (удаление сосудов)
              p.price-item__def тело, до 50 вспышек
              p.price-item__bottom 
                span.time 30 мин
                spam.value 4300₽
            li.service-page__price-item 
              h3.price-item__title Удаление гемангиомы (1 шт)
              p.price-item__def
              p.price-item__bottom 
                span.time 15 мин
                spam.value 2500₽
            li.service-page__price-item 
              h3.price-item__title Дополнительная вспышка
              p.price-item__def
              p.price-item__bottom 
                span.time &nbsp;
                spam.value 100₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom 
                span.time
                spam.value
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн