section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Коллагенотерапия «Коллост»,
            br
            | Collost Micro
        .service-page__line.adaptive
        .service-page__photo.first.s06
        .service-page__main-content
          h1.service-page__title 
            | Коллагенотерапия «Коллост»,
            br
            | Collost Micro
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 45-60 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Обычно не требуется, проводится по желанию
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1 процедура в 2-4 недели
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Уплотнение кожи , уменьшение дряблости, восполнение утраченного коллагена, уменьшение рубцов
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text 4-10 процедур 1 раз в 2-3 недели
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text «Коллост», Micro Collost
      section.service-page__section.bg
        .service-page__photo.second.s06
        .service-page__text-content 
          p.service-page__text-item
            span Коллост
            br
            |  является препаратом коллагена. В нем содержится первый, характерный именно для кожи, тип данного белка. Коллаген - это особый вид белков, содержащихся в организме человека и животных. Он находится в составе сухожилий, хрящей и костей. Наибольшее же его количество ― в коже, в ее основном слое - дерме. Производитель не подвергает коллагеновые молекулы реконструкции, в результате протеин имеет идентичное человеческой молекуле строение. Получают данный коллаген из дермы крупного рогатого скота, после чего многократно очищают, обрабатывают и доводят до высокой (7-15%) концентрации. Коллост может быть применен на любых участках тела.
          p.service-page__text-item
            span Эффект от курса процедур:
            br
            | - эффект сияния здоровой кожи;
            br
            | - сглаживание рубцов и разглаживание морщин;
            br
            | - выравнивание текстуры кожи;
            br
            | - устранение характерных для перенесенной угревой болезни «бугров» и «ямок».
          p.service-page__text-item
            span Показания к проведению процедуры:
            br
            | - начальные признаки старения;
            br
            | - гравитационное опущение тканей;
            br
            | - застойные пятна на коже;
            br
            | - рубцы различных видов, в том растяжки и постакне;
            br
            | - перед процедурой лазерной шлифовки и глубокого химического пилинга.
          p.service-page__text-item
            span Противопоказания к проведению процедуры:
            br
            | - непереносимость компонентов препарата;
            br
            | - нарушение свертываемости крови;
            br
            | - обострение хронических болезней;
            br
            | - период менструации, беременности или грудного вскармливания;
            br
            | - онкологические заболевания;
            br
            | - лихорадка.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s06
        .service-page__price-content
          ul.service-page__price-list
            li.service-page__price-item
              h3.price-item__title Коллост ® 7%
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 14000₽
              p.price-item__bottom
                span.time 60 мин
                span.time 1,5 мл
                spam.value 16000₽
            li.service-page__price-item 
              h3.price-item__title Collost Micro ® 150 mg
              p.price-item__def
              p.price-item__bottom
                span.time 60 мин
                span.time 5,0 мл
                spam.value 19500₽
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн