section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Мезотерапия
        .service-page__line.adaptive
        .service-page__photo.first.s07
        .service-page__main-content
          h1.service-page__title 
            | Мезотерапия
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 15-45 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Проводится по желанию (аппликационная анестезия 10-20 мин)
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1 раз в 7-14 дней
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Упругая, подтянутая кожа. Уменьшение воспалений, сужение пор. Улучшение состояния волос и кожи головы. Уменьшение целлюлита и жировых отложений
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text 5-15 процедур 1-2 раза в год в зависимости от зоны обработки и решаемой проблемы
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text ADN Restart Peptide, HR 06/HR 08 mesolift, F-hair, F-hair man, Hair X DNA Peptide, Slim body, VLD forte, F-magistral, MPX body, F-PPC/PPC+, Body lift, Conjoctyl, Vitamin C, PBSerum, Hair X Vita lineB
      section.service-page__section.bg
        .service-page__photo.second.s07
        .service-page__text-content 
          p.service-page__text-item
            span Мезотерапия
            br
            |  – это методика, при которой лекарственный препарат в микродозах вводится под кожу на небольшую глубину (внутрикожно) с помощью тонких игл. Это позволяет ему активно воздействовать там, где не действуют ингредиенты обычных косметических средств, которые наносятся на поверхность кожи. Мезотерапия может проводиться на лице, шее, волосистой части головы и теле, она решает практически все основные эстетические проблемы и даже помогает похудеть.
          p.service-page__text-item
            span Показания к проведению процедуры:
            br
            | - морщины;
            br
            | - птоз кожи;
            br
            | - сниженный тонус кожи лица/шеи/декольте;
            br
            | - пигментация;
            br
            | - рубцы, шрамы;
            br
            | - растяжки;
            br
            | - мешки и отеки под глазами;
            br
            | - тусклый цвет лица;
            br
            | - акне и постакне;
            br
            | - локальные жировые отложения;
            br
            | - расширенные поры;
            br
            | - изменение овала лица из-за жировых отложений;
            br
            | - целлюлит;
            br
            | - дряблость кожи тела.
          p.service-page__text-item
            span Противопоказания:
            br
            | - прием антикоагулянтов;
            br
            | - онкология;
            br
            | - острая инфекция;
            br
            | - воспаление в предполагаемой зоне обработки;
            br
            | - беременность и лактация;
            br
            | - обострение хронических заболеваний;
            br
            | - нарушение свертываемости крови;
            br
            | - непереносимость компонентов мезотерапевтических коктейлей;
            br
            | - приём антибактериальных препаратов;
            br
            | - лихорадка.
          p.service-page__text-item
            span В результате прохождения курса процедур мезотерапии:
            br
            | - кожа значительно омолаживается, становится подтянутой,упругой, приобретает здоровый цвет и сияние;
            br
            | - уменьшаются воспалительные элементы, угри, постакне;
            br
            | - нормализуется жирность кожи, сужаются поры;
            br
            | - улучшается состояние волос и кожи головы, замедляется выпадение волос и стимулируется их рост;
            br
            | - значительно разглаживаются мелкие морщинки;
            br
            | - улучшается овал лица: уменьшаются щеки и брыли, малярные мешки под глазами, подтягивается второй подбородок;
            br
            | - значительно уменьшается целлюлит, снижается отечность, уменьшаются локальные жировые отложения.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s07
        .service-page__price-content
          ul.service-page__price-list
            li.service-page__price-item
              h3.price-item__title Мезотерапия ADN Restart Peptide
              p.price-item__def лечение акне, розацеа, повышение кожного иммунитета
              p.price-item__bottom
                span.time 30 мин
                span.time 5,0 мл
                spam.value 9000₽
            li.service-page__price-item 
              h3.price-item__title Мезотерапия Hair X DNA Peptide
              p.price-item__def лечение волос и кожи головы 
              p.price-item__bottom
                span.time 15 мин
                span.time 2,0 мл
                spam.value 6500₽
            li.service-page__price-item
              h3.price-item__title Мезотерапия F-hair
              p.price-item__def лечение акне, розацеа, повышение кожного иммунитета
              p.price-item__bottom
                span.time 15 мин
                span.time 2,5 мл
                spam.value 4500₽
            li.service-page__price-item 
              h3.price-item__title Мезотерапия VLD forte
              p.price-item__def уменьшение целлюлита, отечности, объемов
              p.price-item__bottom
                span.time 30 мин
                span.time 5,0 мл
                spam.value 4500₽
              p.price-item__bottom
                span.time 30 мин
                span.time 10,0 мл
                spam.value 7900₽
            li.service-page__price-item
              h3.price-item__title Мезотерапия F-hair man
              p.price-item__def лечение волос и кожи головы
              p.price-item__bottom
                span.time 15 мин
                span.time 2,5 мл
                spam.value 5000₽
            li.service-page__price-item 
              h3.price-item__title Мезотерапия MPX body
              p.price-item__def липолитическое и диуретическое действие
              p.price-item__bottom
                span.time 30 мин
                span.time 5,0 мл
                spam.value 4500₽
              p.price-item__bottom
                span.time 30 мин
                span.time 10,0 мл
                spam.value 7900₽
            li.service-page__price-item
              h3.price-item__title Мезотерапия F-PPC/PPC+
              p.price-item__def борьба с локальными жировыми отложениями
              p.price-item__bottom
                span.time 30 мин
                span.time 5,0 мл
                spam.value 4900₽
              p.price-item__bottom
                span.time 30 мин
                span.time 10,0 мл
                spam.value 9900₽
            li.service-page__price-item 
              h3.price-item__title Мезотерапия Hair X Vita lineB
              p.price-item__def
              p.price-item__bottom
                span.time 15 мин
                span.time 4,0 мл
                spam.value 4600₽
            li.service-page__price-item
              h3.price-item__title Ферментная липотерапия PBSerum Triada (Испания)
              p.price-item__def борьба с локальными жировыми отложениями на лице и теле
              p.price-item__bottom
                span.time 45 мин
                span.time 3 флакона
                spam.value 12000₽
            li.service-page__price-item 
              h3.price-item__title Курасен (Curacen)
              p.price-item__def *инновационный препарат для плацентарной терапии
              p.price-item__bottom
                span.time 30 мин
                span.time 2,0 мл
                spam.value 9000₽
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн