section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Коллагеностимуляция
            | “AestheFill”
        .service-page__line.adaptive
        .service-page__photo.first.s08
        .service-page__main-content
          h1.service-page__title 
            | Коллагеностимуляция
            | “AestheFill”
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 60-75 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Скандонест
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1 процедура в 6-12 месяцев
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Заметный лифтинг-эффект уже после первой процедуры. Восстановление упругости дряблой кожи и утерянных объемов в области введения
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text 1-2 процедуры в год
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text “AestheFill”
      section.service-page__section.bg
        .service-page__photo.second.s08
        .service-page__text-content 
          p.service-page__text-item
            span Коллагеностимуляция AestheFill 
            |  – это эффективная методика омоложения кожи, которая способствует выработке организмом собственного коллагена. Методику по праву называют «Омоложением будущего», инновационной и безопасной anti-age терапией. Препарат не содержит гиалуроновой кислоты, подходит пациентам с отечнодеформационным типом старения.
          p.service-page__text-item
            span Показания к процедуре:
            br
            | - дряблость кожи;
            br
            | - глубокие/средние и мелкие морщины;
            br
            | - наличие рубцов, шрамов, постакне;
            br
            | - опущение уголков рта и внешних уголков глаз;
            br
            | - носогубные складки;
            br
            | - недостаточный объем скул, щек, подбородка;
            br
            | - сухость и дряблость кожи рук;
            br
            | - дряблость шеи/зоны декольте/тела.
          p.service-page__text-item
            span Противопоказания:
            br
            | - острые инфекционные заболевания (в том числе, грипп, ОРЗ, герпес);
            br
            | - беременность и лактация;
            br
            | - склонность к келоидным рубцам;
            br
            | - нарушение свертываемости крови;
            br
            | - индивидуальная непереносимость препарата;
            br
            | - онкологические заболевания;
            br
            | - хронические заболевания в стадии обострения;
            br
            | - повреждения кожи в обрабатываемой зоне.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s08
        .service-page__price-content
          ul.service-page__price-list
            li.service-page__price-item
              h3.price-item__title Коллагеностимуляция “AestheFill”
              p.price-item__def 1 флакон
              p.price-item__bottom
                span.time 60 мин
                spam.value 59000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн