section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Ботулинотерапия
        .service-page__line.adaptive
        .service-page__photo.first.s11
        .service-page__main-content
          h1.service-page__title 
            | Ботулинотерапия
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 15-30 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Обычно не требуется, проводится по желанию
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1 раз в 3-12 месяцев
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Эффект сохраняется от 3 до 6 месяцев, в зависимости от зоны, дозировки и индивидуальных особенностей пациента
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text Обычно достаточно 1 процедуры, проводим при необходимости коррекцию через 2-3 недели
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text Botox, Диспорт, Миотокс, Ксеомин, Релатокс
      section.service-page__section.bg
        .service-page__photo.second.s11
        .service-page__text-content 
          p.service-page__text-item
            span Ботулинотерапия 
            | - это процедура инъекционного введения ботулотоксина типа А. Уколы этого токсина расслабляют мышцы, разглаживая таким образом мимические и частично статические морщины. Новых морщин в зоне введения препарата в период его действия не появляется.
          p.service-page__text-item
            span Показания к проведению процедуры:
            br
            | - морщины между бровями и на лбу;
            br
            | - складки на спинке носа;
            br
            | - морщины вокруг глаз;
            br
            | - тяжи на шее;
            br
            | - губоподбородочные морщины;
            br
            | - мимические морщины в любой зоне лица;
            br
            | - опущенные уголки губ;
            br
            | - возрастные изменения области декольте;
            br
            | - нечеткий овал лица;
            br
            | - асимметрия лица;
            br
            | - гипергидроз.
          p.service-page__text-item
            span Эффект от процедуры:
            br
            | Максимальный эффект после процедуры достигается через 10 - 14 дней. Эффект сохраняется от 3 до 6 месяцев, в зависимости от зоны обработки, дозы, препарата и индивидуальных особенностей пациента. Рекомендуется проводить инъекции регулярно, каждые 3 - 6 месяцев для постоянного и стойкого эффекта.
          p.service-page__text-item
            span Противопоказания к процедуре:
            br
            | - беременность и период кормления грудью;
            br
            | - онкология;
            br
            | - острые инфекции и воспаления в области предполагаемых уколов;
            br
            | - лихорадка;
            br
            | - высокая чувствительность к ботулотоксину и/или его индивидуальная непереносимость;
            br
            | - аллергия на белок;
            br
            | - нарушение свертываемости крови.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s11
        .service-page__price-content
          ul.service-page__price-list
            li.service-page__price-item
              h3.price-item__title В/м введение «Ксеомин» ®
              p.price-item__def 1 ЕД
              p.price-item__bottom
                span.time 30 мин
                spam.value 450₽
            li.service-page__price-item
              h3.price-item__title В/м введение «Диспорт» ®
              p.price-item__def 1 ЕД
              p.price-item__bottom
                span.time 30 мин
                spam.value 150₽
            li.service-page__price-item
              h3.price-item__title В/м введение «Миотокс» ®
              p.price-item__def 1 ЕД
              p.price-item__bottom
                span.time 30 мин
                spam.value 410₽
            li.service-page__price-item
              h3.price-item__title Лечение гипергидроза препаратом «Диспорт» ®
              p.price-item__def 300 ЕД
              p.price-item__bottom
                span.time 30 мин
                spam.value 26000₽
            li.service-page__price-item
              h3.price-item__title Лечение гингвальной (десневой) улыбки ботулотоксином
              p.price-item__def
              p.price-item__bottom
                span.time &nbsp;
                spam.value 4000₽
            li.service-page__price-item
              h3.price-item__title Коррекция подбородка ботулотоксином
              p.price-item__def
              p.price-item__bottom
                span.time &nbsp;
                spam.value 4500₽
            li.service-page__price-item
              h3.price-item__title В/м введение «Релатокс» ®
              p.price-item__def 1 ЕД
              p.price-item__bottom
                span.time 30 мин
                spam.value 430₽
            li.service-page__price-item
              h3.price-item__title В/м введение «Ксеомин» ®
              p.price-item__def 50 ЕД
              p.price-item__bottom
                span.time 45 мин
                spam.value 21000₽
            li.service-page__price-item
              h3.price-item__title Процедура омоложения «Full Face» препаратом «Диспорт» ®
              p.price-item__def
              p.price-item__bottom
                span.time 60 мин
                spam.value 36000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн