section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Биоревитализация/
            br
            | Биорепарация
        .service-page__line.adaptive
        .service-page__photo.first.s12
        .service-page__main-content
          h1.service-page__title 
            | Биоревитализация/
            br
            | Биорепарация
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 45-60 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text 10-20 мин
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1 раз в 2-4 недели
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Увлажнённая, сияющая, плотная и здоровая кожа
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text Назначается индивидуально, в среднем 3-6 процедур 1-2 раза в год
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text Jalupro, Juvederm Volite, Filorga 135 HA, Meso-Xanthin F199, Meso-Wharton P199, Mesoeye C71, Meso Sculpt C71, Skin B, VISCODERM 0.8, PROFHILO, Revi Style, Revi Silk, Revi Strong, HyalTox, Belotero Hydro, Neauvia Hydro Deluxe, Novacutan YBio/SBio
      section.service-page__section.bg
        .service-page__photo.second.s12
        .service-page__text-content 
          p.service-page__text-item
            span Биоревитализация 
            | - это процедура инъекционного введения гиалуроновой кислоты под кожу. Она направлена на активное увлажнение, повышение тонуса, профилактику и разглаживание морщин, устранение следов постакне и общее улучшение состояния кожи.
          p.service-page__text-item
            span Показания к проведению процедуры:
            br
            | - сухость, обезвоженность кожи;
            br
            | - снижение плотности и эластичности;
            br
            | - мелкие морщинки;
            br
            | - дряблость кожи;
            br
            | - до и после проведения срединных пилингов или лазерной шлифовки для быстрого восстановления кожных покровов;
            br
            | - нарушение работы сальных желёз;
            br
            | - проблемная кожа( акне/постакне);
            br
            | - до и после воздействия УФ лучей;
            br
            | - тусклый и неровный цвет лица.
          p.service-page__text-item
            span Противопоказания к проведению процедуры:
            br
            | - беременность, период лактации;
            br
            | - обострение хронических заболеваний;
            br
            | - онкология, химиотерапия;
            br
            | - острые воспалительные процессы в зоне предполагаемой инъекции;
            br
            | - аутоимунные, системные заболевания;
            br
            | - серьезные нарушения свертываемости крови.
          p.service-page__text-item
            span Эффект от процедуры:
            br
            | Результат от биоревитализации проявляется постепенно, первые изменения уже можно заметить через несколько дней после первой процедуры, и достигает своего максимума после проведения полного курса (3-8 процедур с периодичностью 1 раз в 2-4 недели в зависимости от препарата и показаний). Полученный эффект увлажнённой, ухоженной,плотной, подтянутой и сияющей кожи сохраняется в течение 4-6 месяцев, далее курс рекомендуется повторить.
          p.service-page__text-item
            span Редермализация 
            | - это процедура направленная на восстановления кожи, заключается в воздействии гиалуроновой кислоты и сукцината на клетки кожи, что приводит к блокировке свободных радикалов. Достигается эффект максимального увлажнения и омоложения кожи.
          p.service-page__text-item
            span Показания к проведению процедуры:
            br
            | - профилактика хронологического старения и фотостарения;
            br
            | - коррекция инволюционных изменений кожи;
            br
            | - физиологическая подготовка кожи к коррекции морщин и складок, атрофических рубцов и других дефектов кожи;
            br
            | - подготовка кожи к дерматопластическим операциям, глубоким и срединным пилингами с целью оптимизации конечного результата и сокращения реабилитационного периода;
            br
            | - реабилитация после химических пилингов, механических пилингов и пластических операций.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s12
        .service-page__price-content
          ul.service-page__price-list
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Jalupro ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 3,0 мл
                spam.value 12500₽
            li.service-page__price-item
              h3.price-item__title В/м введение «Диспорт» ®
              p.price-item__def 1 ЕД
              p.price-item__bottom
                span.time 30 мин
                spam.value 150₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Filorga 135 HA ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 3,0 мл
                spam.value 12500₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Mesoeye C71 ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 16500₽
            li.service-page__price-item
              h3.price-item__title Лечение гингвальной (десневой) улыбки ботулотоксином
              p.price-item__def
              p.price-item__bottom
                span.time &nbsp;
                spam.value 4000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Meso Sculpt C71 ®
              p.price-item__def
              p.price-item__bottom
                span.time 15 мин
                span.time 1,0 мл
                spam.value 16500₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Meso-Xanthin F199 ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,5 мл
                spam.value 17800₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата PROFHILO ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 2,0 мл
                spam.value 18500₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Revi Style ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 2,0 мл
                spam.value 16000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Revi Silk ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 2,0 мл
                spam.value 17000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Revi Strong ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 2,0 мл
                spam.value 18500₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Belotero Hydro ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 15500₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Revi Eye ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 13000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Novacutan SBio ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 2,0 мл
                spam.value 16500₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Neauvia Hydro Deluxe ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 2,5 мл
                spam.value 19500₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Novacutan YBio ® + Novakutan SBio ®
              p.price-item__def
              p.price-item__bottom
                span.time 60 мин
                span.time 4,0 мл
                spam.value 27000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Novacutan YBio ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 2,0 мл
                spam.value 16000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата RRS ® HA LONG LASTING
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 3,0 мл
                spam.value 18500₽
            li.service-page__price-item
              h3.price-item__title HyalTox
              p.price-item__def Авторская уникальная методика 2 в 1 для омоложения кожи лица. WOW-эффект от ботулотоксина и биоревитализанта за одну процедуру
              p.price-item__bottom
                span.time 60 мин
                spam.value 28000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Meso-Wharton P199 ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,5 мл
                spam.value 18000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата Stylage Hydromax ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 2,0 мл
                spam.value 16000₽
            li.service-page__price-item
              h3.price-item__title Инъекции препарата PLINEST Fast ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 2,0 мл
                spam.value 17800₽
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн