section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Векторный лифтинг
            br
            | препаратом “Radiesse”
        .service-page__line.adaptive
        .service-page__photo.first.s14
        .service-page__main-content
          h1.service-page__title 
            | Векторный лифтинг
            br
            | препаратом “Radiesse”
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 45-75 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Скандонест
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1-3 процедуры для закрепления эффекта 1 раз в 3 месяцев
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Улучшение контуров и овала лица, разглаживание средних и глубоких морщин, восполнение утраченного объема без отеков
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text 1 раз в 1-1,5 года
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text Radiesse (ГАК)
      section.service-page__section.bg
        .service-page__photo.second.s14
        .service-page__text-content 
          p.service-page__text-item
            span Волюмайзер Radiesse™ (Радиес) 
            | – уникальный дермальный филлер на основе гидроксиапатита кальция(ГАК), обеспечивающий безоперационный лифтинг лица и долговременную коррекцию морщин. Он работает как наполнитель и стимулирует процесс выработки собственного коллагена. В отличие от филлеров с гиалуроновой кислотой, Radiesse™ (Радиес) обеспечивает длительную коррекцию на 12-15 мес и дольше. Это безопасный и хорошо изученный препарат, который не вызывает воспалительной реакции в тканях, не мигрирует и со временем полностью выводится из организма.
          p.service-page__text-item Radiesse™ (Радиес) возвращает лицу молодую V-форму: он восполняет утраченный объем там, где это необходимо, при этом разглаживаются морщины, стимулируется выработка коллагена, подтягиваются щеки, и восстанавливается молодой овал лица. Процедура введения препарата длится 30-60 минут, она безболезненна, не оставляет выраженных отеков и позволяет сразу же вернуться к обычной деятельности.
          p.service-page__text-item
            span Показания к проведению процедуры:
            br
            | - волюметрическая коррекция лица;
            br
            | - устранение выраженных складок и морщин, включая проблемные участки около носа и губ;
            br
            | - стимуляция выработки коллагена;
            br
            | - дряблая кожа лица/шеи/декольте;
            br
            | - сниженный тонус кожи тела.
          p.service-page__text-item
            span Противопоказания к процедуре:
            br
            | - острые/хронические воспалительные заболевания кожи в месте введения инъекции;
            br
            | - онкология;
            br
            | - лихорадка;
            br
            | - беременность и кормление;
            br
            | - повышенная чувствительность к одному из компонентов препарата;
            br
            | - предрасположенность к образованию рубцов и воспалительных кожных реакций;
            br
            | - инородные тела в месте введения, например, жидкий силикон, биополимерный гель или иные материалы;
            br
            | - нельзя использовать филлер на участках кожи с пораженными тканями или в зонах с хорошо развитой сосудистой сеткой;
            br
            | - нельзя использовать филлер пациентам, имеющим системные заболевания крови и соединительной ткани.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s14
        .service-page__price-content
          ul.service-page__price-list
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Radiesse ®
              p.price-item__def
              p.price-item__bottom
                span.time 60 мин
                span.time 1,5 мл
                spam.value 40000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Radiesse ®
              p.price-item__def
              p.price-item__bottom
                span.time 75 мин
                span.time 3,0 мл
                spam.value 52000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Radiesse ® + lidocaine
              p.price-item__def
              p.price-item__bottom
                span.time 60 мин
                span.time 1,5 мл
                spam.value 40000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                span.time
                spam.value
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн