section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Контурная пластика 
            | препаратами на основе ГК
        .service-page__line.adaptive
        .service-page__photo.first.s18
        .service-page__main-content
          h1.service-page__title 
            | Контурная пластика 
            | препаратами на основе ГК
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 30-45 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text 10-20 мин
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text 1 раз в 3-18 месяцев
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Сохраняется от 3 до 18 месяцев в зависимости от объёма, плотности препарата и индивидуальных особенностей пациента
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text Достаточно 1-2 процедур для желаемого эффекта
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text Juvederm, Stylage, Belotero, HAfiller, Teosyal, Neauvia
      section.service-page__section.bg
        .service-page__photo.second.s18
        .service-page__text-content 
          p.service-page__text-item
            span Контурная пластика 
            | – безопасный малотравматичный метод коррекции контуров лица, устранения дряблости и старения кожи путем введения филлеров (гелей, содержащих неживотную биосинтетическую гиалуроновую кислоту). Филлеры (от англ. "fill" - наполнять) - это наполнители, имплантируемые в кожу, которые приподнимая ее, выравнивают общую поверхность кожного покрова, тем самым разглаживают морщины, увлажняют кожу и создают объём в нужных местах.
          p.service-page__text-item
            span Контурная пластика гиалуроновой кислотой (ГК) 
            | может послужить альтернативой пластической хирургии. Она обеспечивает длительный и естественный результат, а также безопасна для организма, поскольку ГК совместима с тканями человека, ведь она является ключевым компонентом внеклеточного матрикса. В России инъекционные имплантаты применяются уже более пятнадцати лет.
          p.service-page__text-item
            span Показания к проведению процедуры:
            br
            | - коррекция глубоких, средних и мелких морщин на лице (носослезные, носогубные, губоподбородочные и межбровные складки, область вокруг глаз);
            br
            | - возвращение объема тканям ( восстановление утраченного объема в верхней, средней и нижней зоне лица – лоб, виски, скулы, подбородок и углы нижней челюсти);
            br
            | - векторный лифтинга лица и восстановление овала;
            br
            | - улучшение формы губ, придание им объема, восстановление контура губ;
            br
            | - изменение формы носа (убирается небольшая горбинка);
            br
            | - омоложение кистей рук и ушных мочек;
            br
            | - восстановление анатомии лица после травм, операций, коррекция рубцов.
          p.service-page__text-item
            span Противопоказания к проведению процедуры:
            br
            | - индивидуальная непереносимость отдельных компонентов;
            br
            | - декомпенсированный сахарный диабет;
            br
            | - беременность и период кормления грудью;
            br
            | - онкология;
            br
            | - приём антикоагулянтов;
            br
            | - острые инфекционные заболевания (в том числе, грипп, ОРЗ);
            br
            | - обострение хронических и аутоиммунных заболеваний;
            br
            | - склонность к формированию келоидных рубцов;
            br
            | - острые воспалительные процессы в зонах планируемой процедуры ( герпес/обострение угревой болезни, острый гайморит, воспаленная зубная киста);
            br
            | - наличие филлера неуточненной природы в планируемой зоне введения.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s18.img0
        .service-page__price-content
          ul.service-page__nav-list
            li.service-page__nav-item 
              button(class="selected", data-type="0") Губы/носогубные складка
            li.service-page__nav-item 
              button(data-type="1") Скулощечная зона
            li.service-page__nav-item 
              button(data-type="2") подбородок
            li.service-page__nav-item 
              button(data-type="3") Носослезная борозда
            li.service-page__nav-item 
              button(data-type="4") Углы нижней челюсти
            li.service-page__nav-item 
              button(data-type="5") Нос
            li.service-page__nav-item 
              button(data-type="6") Височная зона/лоб
            li.service-page__nav-item 
              button(data-type="7") Шея/бланширование
          ul(class="service-page__price-list show bg", data-type="0")
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Ultra 3 ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 21500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Ultra Smile ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 0,55 мл
                spam.value 18200₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Volift ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 21000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Ultra 4 ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                spam.value 1,0 мл
                spam.value 19500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Lips Shape ® + Belotero Lips Contour®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 22900₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Volbella ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 20500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Balance ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 0,6 мл
                spam.value 20000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Intense ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 0,6 мл
                spam.value 19500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата ART Filler Lips ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 18000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Lips Shape ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,2 мл
                spam.value 16200₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Lips Contour ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 15500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage L ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                spam.value 1,0 мл
                spam.value 19000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage M ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                spam.value 1,0 мл
                spam.value 19500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage S ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 17000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата ETERMIS 3 ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                spam.value 1,0 мл
                spam.value 17000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Volift Retouch ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 0,55 мл
                spam.value 16500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Restylane ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 18200₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата ETERMIS 4 ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 17500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage Special Lips ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                spam.value 1,0 мл
                spam.value 19000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата ART Filler Universal ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                spam.value 1,0 мл
                spam.value 18500₽
          ul(class="service-page__price-list", data-type="1")
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Voluma ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 22000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Volume ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 21000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата ART Filler Volume ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,2 мл
                spam.value 20500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Restylane LYFT ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 21000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Neauvia Organic Intense ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 20500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage XL ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 20000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Volume + lidocaine ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 21000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                span.time
                spam.value
          ul(class="service-page__price-list", data-type="2")
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Voluma ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 21500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Volume ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 19500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Neauvia Organic INTENSE ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 19500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Restylane LYFT ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 21000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата ART Filler Volume ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 20000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage XL ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 19500₽
          ul(class="service-page__price-list", data-type="3")
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Balance ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 20500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Soft ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 0,55 мл
                spam.value 19000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage S ®
              p.price-item__def
              p.price-item__bottom
                span.time 30 мин
                span.time 1,0 мл
                spam.value 19000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                span.time
                spam.value
          ul(class="service-page__price-list", data-type="4")
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Volux ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 21000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Voluma ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 21500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Volume ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 20000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Restylane LYFT ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 21000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Neauvia Organic INTENSE ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 20500₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage XL ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 19500₽
          ul(class="service-page__price-list", data-type="5")
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Restylane LYFT ®
              p.price-item__def
              p.price-item__bottom
                span.time 60 мин
                span.time 1,0 мл
                spam.value 24000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Neauvia Organic INTENSE ®
              p.price-item__def
              p.price-item__bottom
                span.time 60 мин
                span.time 1,0 мл
                spam.value 23000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Stylage XL ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 22000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                span.time
          ul(class="service-page__price-list", data-type="6")
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Volift ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 22000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Juvederm Voluma ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 23000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Volume ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 22000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Balance ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 21000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Volume + lidocaine ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 22000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                span.time
          ul(class="service-page__price-list", data-type="7")
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Balance ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 20000₽
            li.service-page__price-item
              h3.price-item__title Инъекция препарата Belotero Soft ®
              p.price-item__def
              p.price-item__bottom
                span.time 45 мин
                span.time 1,0 мл
                spam.value 19500₽
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн