section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Аппаратный массаж RLS
        .service-page__line.adaptive
        .service-page__photo.first.s19
        .service-page__main-content
          h1.service-page__title 
            | Аппаратный массаж RLS
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 60-90 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Не требуется
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text Повторять процедуру желательно 1-2 раза в год
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Улучшается качество тела, выводится застойная жидкость, уменьшение целлюлита, запуск процесса омоложения тела
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text Рекомендуемый интервал между сеансами – 3 дня; курс займет 3-6 недель
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Косметика
                p.feautures__text Не используется
      section.service-page__section.bg
        .service-page__photo.second.s19
        .service-page__text-content 
          p.service-page__text-item Процедура предоставляет уникальную возможность достичь желаемых результатов с максимальным уровнем комфорта и без выраженного стресса для вашего организма.
          p.service-page__text-item Аппарат вооружен особой манипулой, оборудованной большим количеством вращающихся силиконовых шариков. Эти инновационные ролики не только способствуют разрушению жировых клеток, но и эффективно укрепляют мышечные волокна, помогают выведению излишней жидкости и повышению тонуса тканей, создавая гармоничное преображение вашей фигуры.
          p.service-page__text-item
            span Уникальная особенность 
            | – дополнительный источник LED света, который активно усиливает кровообращение во всех слоях мягких тканей и лимфоток. Этот световой стимулятор дополняет действие роликов, создавая комплексное воздействие на вашу кожу и ткани.
          p.service-page__text-item Процедура RSL-скульптурирования  – это не только эффективный способ улучшения фигуры, но и абсолютный комфорт. Насадка мягко скользит по выбранному участку, не оставляя синяков. Во время скульптурирования пациент ощущает прилив энергии и тепло, что гарантирует только приятные ощущения во время каждого сеанса.
          p.service-page__text-item
            span Преимущества процедуры:
            br
            | - технология RSL позволяет воздействовать на глубокие слои кожи, которые сложно проработать ручной техникой без травмирования тканей. К тому же массажные волны легко достигают труднодоступные участки, запуская процессы кровообращения, повышая тем самым эффективность;
            br
            | - по эффективности RSL скульптурирование в разы превосходит другие массажные техники, что позволяет за несколько сеансов добиться выраженных изменений;
            br
            | - процедуры абсолютно безболезненные, пациенты могут ощущать только легкое тепло;
            br
            | - возможности аппарата позволяют подбирать режимы в зависимости от индивидуальных особенностей конкретного пациента;
            br
            | - эффект процедуры не ограничивается только массажем, аппарат стимулирует выработку коллагена и эластина, гарантируя продолжительное сохранение результата;
            br
            | - лечение на аппарате позволяет воздействовать на все ткани, нормализуя общее здоровье и улучшая эстетику тела.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s19
        .service-page__price-content
          ul.service-page__price-list
            li.service-page__price-item
              h3.price-item__title Первичный сеанс RSL-скульптурирования
              p.price-item__def
              p.price-item__bottom
                span.time &nbsp;
                spam.value 4000₽
            li.service-page__price-item
              h3.price-item__title RSL-скульптурирование
              p.price-item__def
              p.price-item__bottom
                span.time 1 сеанс
                spam.value 5500₽
            li.service-page__price-item
              h3.price-item__title RSL-скульптурирование
              p.price-item__def
              p.price-item__bottom
                span.time 6 сеансов
                spam.value 30000₽
            li.service-page__price-item
              h3.price-item__title RSL-скульптурирование
              p.price-item__def
              p.price-item__bottom
                span.time 8 сеансов
                spam.value 39000₽
            li.service-page__price-item
              h3.price-item__title RSL-скульптурирование
              p.price-item__def
              p.price-item__bottom
                span.time 12 сеансов
                spam.value 55000₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                span.time
                spam.value
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн