section.service-page 
  .container
    .service-page__wrapper
      section.service-page__section
        h1.service-page__title.adaptive
            | Удаление новообразований
        .service-page__line.adaptive
        .service-page__photo.first.s20
        .service-page__main-content
          h1.service-page__title 
            | Удаление новообразований
          .service-page__line 
          ul.service-page__features
            li.features__item 
              .features__image
                img(src="/images/icons/time.svg", alt="")
              .features__content 
                h3.feautures__title Продолжительность
                p.feautures__text 15-60 мин
            li.features__item 
              .features__image
                img(src="/images/icons/syringe.svg", alt="")
              .features__content 
                h3.feautures__title Анестезия
                p.feautures__text Инфильтрационная анестезия
            li.features__item 
              .features__image
                img(src="/images/icons/calendar.svg", alt="")
              .features__content 
                h3.feautures__title Периодичность
                p.feautures__text Нет
            li.features__item 
              .features__image
                img(src="/images/icons/stars.svg", alt="")
              .features__content 
                h3.feautures__title Эффект
                p.feautures__text Удаление новообразований без видимых следов
            li.features__item 
              .features__image
                img(src="/images/icons/course.svg", alt="")
              .features__content 
                h3.feautures__title Рекомендуемый курс
                p.feautures__text Нет
            li.features__item 
              .features__image
                img(src="/images/icons/drops.svg", alt="")
              .features__content 
                h3.feautures__title Препараты
                p.feautures__text Нет
      section.service-page__section.bg
        .service-page__photo.second.s20
        .service-page__text-content 
          p.service-page__text-item В список доброкачественных новообразований включают невусы (или родинки), папилломы, атеромы, липомы, лимфангиомы, гемангиомы. Они не представляют опасности для здоровья человека, так как не вторгаются в окружающие ткани. Как правило, их можно быстро и безопасно удалить.
          p.service-page__text-item Причины возникновения доброкачественных новообразований могут быть связаны как наследственными факторами, образом жизни и внешними воздействиями. Как правило, истинная причина появления остается неизвестной, но это никак не влияет на прогноз и эффективность лечения.
          p.service-page__text-item
            span Почему нужно и важно проверять и удалять новообразования?
            | – вызывают дискомфорт, их можно задеть, когда вы надеваете одежду и пр.;
            br
            | – выглядят не очень эстетично или даже страшно, что может испортить впечатление о вас у окружающих;
            br
            | – могут увеличиваться в размерах;
            br
            | – они могут шелушиться, чесаться, зудеть;
            br
            | – есть риск трансформации доброкачественного новообразования в злокачественное.
          p.service-page__text-item
            span Преимущества:
            | – очень быстро, от нескольких секунд до нескольких минут;
            br
            | – риск появления рубца минимальный;
            br
            | – по желанию пациента возможна анестезия;
            br
            | – новый передовой аппарат 2022 года.
          p.service-page__text-item Пигментные невусы, или родинки можно обнаружить на лице и/или теле практически у каждого человека. Они могут иметь розовую, коричневую или почти черную окраску, но их форма всегда равномерная, в отличие от меланомы, на которой обычно присутствуют разные цвета. Доброкачественные невусы имеют симметричную форму, четкие границы. Если вы заметили, что внешний вид родинки начал меняться, нужно в обязательном порядке посетить врача-дерматолога, так как есть риск злокачественной трансформации.
          p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
      section.service-page__section
        .service-page__photo.third.s20
        .service-page__price-content
          ul.service-page__price-list
            li.service-page__price-item
              h3.price-item__title Удаление атеромы
              p.price-item__def
              p.price-item__bottom
                span.time &nbsp;
                spam.value 3000₽
            li.service-page__price-item
              h3.price-item__title Удаление невуса
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value от 2500₽
            li.service-page__price-item
              h3.price-item__title Удаление новообразований. Милиум/ангиома
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value от 500₽
            li.service-page__price-item
              h3.price-item__title Лазерное удаление бородавки
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value от 1500₽
            li.service-page__price-item
              h3.price-item__title Удаление невуса, кератомы
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value от 2000₽
            li.service-page__price-item
              h3.price-item__title Удаление единичной папилломы
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value от 1500₽
            li.service-page__price-item
              h3.price-item__title Лазерное удаление единичной папилломы на теле
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value 600₽
            li.service-page__price-item
              h3.price-item__title Удаление новообразований. Невус, фиброма, кератома
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value от 1500₽
            li.service-page__price-item
              h3.price-item__title Удаление новообразований. Папиллома единичная
              p.price-item__def
              p.price-item__bottom
                span.time
                spam.value 1500₽
            li.service-page__price-item.empty
              h3.price-item__title
              p.price-item__def
              p.price-item__bottom
                span.time
                span.time
                spam.value
      section.service-page__bottom 
        button.btn.btn--upper Записаться онлайн